<div class="app-content content ">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-1">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-start mb-0">Donates</h2>
						<div class="breadcrumb-wrapper">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{{ URL }}/admin/home">Home</a>
								</li>
								<li class="breadcrumb-item active">Donates</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-xl-9 col-md-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-2 col-sm-6 col-12 mb-xl-0">
                                <div class="d-flex flex-row">
                                    <div class="my-auto">
                                        <p class="card-text font-small-3 mb-0">Total Coins Approved</p>
                                        <h1 class="fw-bolder mb-0">{{ stats.total_coins }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-6 col-12 mb-xl-0">
                                <div class="d-flex flex-row">
                                    <div class="my-auto">
                                        <p class="card-text font-small-3 mb-0">Gross Total Approved</p>
                                        <h1 class="text-success fw-bolder mb-0">$ {{ stats.gross_total_price }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-6 col-12 mb-xl-0">
                                <div class="d-flex flex-row">
                                    <div class="my-auto">
                                        <p class="card-text font-small-3 mb-0">Net Total Approved</p>
                                        <h1 class="text-success fw-bolder mb-0">$ {{ stats.net_total_price }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-6 col-12 mb-xl-0">
                                <div class="d-flex flex-row">
                                    <div class="my-auto">
                                        <p class="card-text font-small-3 mb-0">Coins Canceled</p>
                                        <h1 class="fw-bolder mb-0">{{ stats.canceled_coins }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-6 col-12 mb-xl-0">
                                <div class="d-flex flex-row">
                                    <div class="my-auto">
                                        <p class="card-text font-small-3 mb-0">Gross Total Canceled</p>
                                        <h1 class="text-danger fw-bolder mb-0">$ {{ stats.canceled_total_price }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
					<div class="card-body">
						<div class="row">
                            <div class="col-12">
                                <div class="card-datatable table-responsive pt-0">
                                    <table class="players-list-table table">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Reference</th>
                                                <th>Method</th>
                                                <th>Total Coins</th>
                                                <th>Final Price</th>
                                                <th>Status</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for payment in payments %}
                                            {% set i = i + 1 %}
                                                <tr class="odd">
                                                    <td><a href="{{URL}}/admin/donates/{{ payment.reference }}/view">{{ payment.reference }}</a></td>
                                                    <td>{{ payment.method_img|raw }}</td>
                                                    <td>{{ payment.total_coins }}</td>
                                                    <td>R$ {{ payment.gross_payment }}</td>
                                                    <td>{{ payment.status_badge|raw }}</td>
                                                    <td>{{ payment.date }}</td>
                                                    <td>
                                                    <a href="{{URL}}/admin/donates/{{ payment.reference }}/view"><input type="button" class="btn btn-primary" value="View"></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
						</div>
					</div>
				</div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <form action="{{ URL }}/admin/donates" method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-4">
                                    <label class="form-label" for="website_donates">Donates</label>
                                    <div class="form-check form-switch form-check-primary">
                                        {% if active_donates == 0 %}
                                        <input type="checkbox" class="form-check-input" name="checkboxDonates" id="checkboxDonates" value="1">
                                        <label class="form-check-label" for="checkboxDonates">
                                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                                        </label>
                                        {% endif %}
                                        {% if active_donates == 1 %}
                                        <input type="checkbox" class="form-check-input" name="checkboxDonates" id="checkboxDonates" value="1" checked="">
                                        <label class="form-check-label" for="checkboxDonates">
                                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                                        </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-8">
                                    <label class="form-label" for="website_donates">Coin Price</label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input type="text" name="coin_price" class="form-control form-control-lg" placeholder="0.00" value="{{ coin_price }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header pb-1">
                            <h4 class="card-title">Accept payments via</h4>
                        </div>
                        <div class="card-body">
                            <div class="mt-1">
                                <div class="d-flex justify-content-between">
                                <img class="img-fluid" src="{{ URL }}/resources/images/payment/paymentmethodcategory144.gif" alt="MercadoPago">
                                    <label class="invoice-terms-title mb-0" for="paymentTerms">Mercado Pago</label>
                                    <div class="form-check form-switch form-check-primary">
                                        {% if active_mercadopago == 0 %}
                                        <input type="checkbox" class="form-check-input" name="checkboxMercadoPago" id="checkboxMercadoPago" value="1">
                                        <label class="form-check-label" for="checkboxMercadoPago">
                                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                                        </label>
                                        {% endif %}
                                        {% if active_mercadopago == 1 %}
                                        <input type="checkbox" class="form-check-input" name="checkboxMercadoPago" id="checkboxMercadoPago" value="1" checked="">
                                        <label class="form-check-label" for="checkboxMercadoPago">
                                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                                        </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between py-1">
                                    <img class="img-fluid" src="{{ URL }}/resources/images/payment/paymentmethodcategory31.gif" alt="PayPal">
                                    <label class="mb-0" for="clientNotes">PayPal</label>
                                    <div class="form-check form-switch form-check-primary">
                                        {% if active_paypal == 0 %}
                                        <input type="checkbox" class="form-check-input" name="checkboxPayPal" id="checkboxPayPal" value="1">
                                        <label class="form-check-label" for="checkboxPayPal">
                                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                                        </label>
                                        {% endif %}
                                        {% if active_paypal == 1 %}
                                        <input type="checkbox" class="form-check-input" name="checkboxPayPal" id="checkboxPayPal" value="1" checked="">
                                        <label class="form-check-label" for="checkboxPayPal">
                                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                                        </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <img class="img-fluid" src="{{ URL }}/resources/images/payment/paymentmethodcategory32.gif" alt="PagSeguro">
                                    <label class="mb-0" for="paymentStub">PagSeguro</label>
                                    <div class="form-check form-switch form-check-primary">
                                        {% if active_pagseguro == 0 %}
                                        <input type="checkbox" class="form-check-input" name="checkboxPagSeguro" id="checkboxPagSeguro" value="1">
                                        <label class="form-check-label" for="checkboxPagSeguro">
                                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                                        </label>
                                        {% endif %}
                                        {% if active_pagseguro == 1 %}
                                        <input type="checkbox" class="form-check-input" name="checkboxPagSeguro" id="checkboxPagSeguro" value="1" checked="">
                                        <label class="form-check-label" for="checkboxPagSeguro">
                                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                                        </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="edit_donate" class="btn btn-primary w-100 mb-75 waves-effect waves-float waves-light">Save Changes</button>
                </form>
                <div class="card mt-1">
                    <form action="{{ URL }}/admin/donates" method="post">
                        <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Coins</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        <tr>
                                            <td><input type="text" name="product_{{ product.id }}" class="form-control form-control-sm" value="{{ product.coins }}"></td>
                                            <td>${{ product.gross_payment }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button type="submit" name="edit_products" class="btn btn-primary w-100 mb-75 waves-effect waves-float waves-light">Save Changes</button>
                    </form>
                </div>
            </div>
		</div>
	</div>
</div>
{{ status|raw }}