<div class="app-content content ">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Market Offers</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ URL }}/admin">Home</a></li>
                                    <li class="breadcrumb-item active">Market Offers</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		<div class="content-body">
			<!-- users list start -->
			<section class="app-user-list">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="card">
							<div class="card-body d-flex align-items-center justify-content-between">
								<div>
									<h3 class="fw-bolder mb-75">{{ total_offers }}</h3>
									<span data-i18n="Total Offers">Total Offers</span>
								</div>
								<div class="avatar bg-light-primary p-50">
									<span class="avatar-content"><i data-feather="user" class="feather feather-user-plus font-medium-4"></i></span>
								</div>
							</div>
						</div>
					</div>
                    <div class="col-lg-3 col-sm-6">
						<div class="card">
							<div class="card-body d-flex align-items-center justify-content-between">
								<div>
									<h3 class="fw-bolder mb-75">{{ total_offershistory }}</h3>
									<span data-i18n="Total Offers History">Total Offers History</span>
								</div>
								<div class="avatar bg-light-primary p-50">
									<span class="avatar-content"><i data-feather="user" class="feather feather-user-plus font-medium-4"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!-- list and filter start -->
				<div class="card">
					<div class="card-body border-bottom">
						<h4 class="card-title">Market Offers</h4>
						<div class="row">
							<div class="col-md-4 user_role"></div>
							<div class="col-md-4 user_plan"></div>
							<div class="col-md-4 user_status"></div>
						</div>
					</div>
					<div class="card-datatable table-responsive pt-0">
						<table class="players-list-table table">
							<thead class="table-light">
								<tr>
									<th>Character</th>
									<th>Oferta</th>
									<th>Item</th>
									<th>Quantidade</th>
									<th>Data</th>
                                    <th>Preço</th>
								</tr>
							</thead>
							<tbody>
								{% for offer in offers %}
								<tr class="odd">
									<td>{{ offer.player_id }}</td>
									<td>{{ offer.sale }}</td>
                                    <td>{{ offer.itemtype }}</td>
                                    <td>{{ offer.amount }}</td>
									<td>{{ offer.created }}</td>
									<td>{{ offer.price }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- list and filter end -->
			</section>
			<!-- users list ends -->
		</div>
	</div>
</div>


