<script type="text/javascript" src="{{JS_PATH}}/create_character.js"></script>

<style>
	.PWStrengthContainer {
		position: relative;
		clear: both;
		width: 214px;
	}
	.PWStrengthIndicator {
		text-align: center;
		border: 1px solid grey;
		color: #fff;
		font-size: 10pt
	}
	.TextInputLine .PWStrengthIndicator {
		width: 242px
	}
	.PWStrengthLevel0,
	.PWStrengthLevel1 {
		background-color: #ec644b
	}
	.PWStrengthLevel2 {
		background-color: #eb8005
	}
	.PWStrengthLevel3 {
		background-color: #b0b300
	}
	.PWStrengthLevel4 {
		background-color: #20a000
	}
	.PWStrengthToolTip {
		display: none;
		position: absolute;
		width: 410px;
		top: -25px;
		padding: 0 8px 8px;
		border: 1px double #5a2800;
		color: #5a2800;
		font-size: 8pt;
		background-image: url({{ IMAGE_PATH }}/global/content/scroll.gif);
		z-index: 1000;
		left: 250px
	}
	.TextInputLine .PWStrengthToolTip {
		left: 270px;
		min-width: 250px
	}
	.BoxInputText .PWStrengthToolTip {
		background-image: none;
		left: -272px;
		width: 250px;
		margin-top: -33px;
		padding: 5px;
		font-size: 8pt;
		color: #fff;
		background-color: #da761e;
		border: 2px outset #fff;
		filter:alpha(opacity=90);
		opacity: .9;
		-moz-opacity: .9;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		z-index: 1
	}
	.SmallPasswordForm .PWStrengthToolTip {
		top: -65px
	}
	.PWStrengthToolTipHeadline {
		font-weight: 700;
		margin-top: 8px;
		margin-bottom: 5px
	}
	.BoxInputText .PWStrengthToolTipHeadline {
		margin-top: 0
	}
	.PWStrengthToolTip .HelperDivArrow {
		background-image: url({{ IMAGE_PATH }}/global/content/helper-div-arrow.png);
		position: absolute;
		top: 7px;
		left: -8px;
		width: 8px;
		height: 13px
	}
	.SmallPasswordForm .PWStrengthToolTip .HelperDivArrow {
		top: 45px
	}
	.BoxInputText .PWStrengthToolTip .HelperDivArrow {
		display: none
	}
	.PWStrengthToolTip .InputIndicator {
		position: absolute;
		height: 12px;
		width: 12px;
		left: 0;
		top: 2px;
		float: left;
		margin-right: 5px;
		background-repeat: no-repeat
	}
	.PWStrengthToolTip .PWRule {
		position: relative;
		padding-left: 15px;
		margin-bottom: 4px
	}
	.PWStrengthToolTip .InputIndicatorOK {
		background-image: url({{ IMAGE_PATH }}/global/general/ok.gif)
	}
	.PWStrengthToolTip .InputIndicatorNotOK {
		background-image: url({{ IMAGE_PATH }}/global/general/nok.gif)
	}
	.InputIndicatorOK {
		background-image: url({{ IMAGE_PATH }}/global/general/ok.gif);
		position: relative;
		top: 5px;
		left: 218px;
		height: 12px;
		width: 12px;
		background-repeat: no-repeat;
	}
	.InputIndicatorNotOK {
		background-image: url({{ IMAGE_PATH }}/global/general/nok.gif);
		position: relative;
		top: 5px;
		left: 218px;
		height: 12px;
		width: 12px;
		background-repeat: no-repeat;
	}
</style>

<script type="text/javascript">
var PreselectServerLocation = "BRA";
g_FormName = "CreateAccountAndCharacter";
g_FieldName = "email";
document.getElementById("ActiveSubmenuItemIcon_createaccount").style.visibility = "visible";
document.getElementById("ActiveSubmenuItemLabel_createaccount").style.color = "white";

{% for world in worlds %}
ServerList.push(new Array('{{ world.name }}', '{{ world.location_initial }}', '{{ world.pvp_type_initial }}', '0', '0', '{{ world.creation_int }}', '{{ world.battle_eye_int }}'));
{% endfor %}
</script>

<div id="createaccount" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-createaccount.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				{% if status is not empty %}
                <div class="SmallBox">
					<div class="MessageContainer">
						<div class="BoxFrameHorizontal" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-horizontal.gif);"></div>
						<div class="BoxFrameEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></div>
						<div class="BoxFrameEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></div>
						<div class="Message">
							<div class="BoxFrameVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></div>
							<div class="BoxFrameVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></div>
							<table style="width:100%;">
								<tbody>
									<tr>
										<td style="width:100%;text-align:left;"><b>{{ status|raw }}</b></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="BoxFrameHorizontal" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-horizontal.gif);"></div>
						<div class="BoxFrameEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></div>
						<div class="BoxFrameEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></div>
					</div>
				</div>
				<br>
                {% endif %}
				<div style="position:relative;top:0px;left:0px;">
					<form action="{{URL}}/createaccount" method="post" name="CreateAccountAndCharacter" id="CreateAccountAndCharacterForm">
						<div class="TableContainer">
							<div class="CaptionContainer">
								<div class="CaptionInnerContainer">
									<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
									<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
									<div class="Text">Create New Account</div>
									<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
									<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
									<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								</div>
							</div>
							<table class="Table5" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td>
											<div class="TableScrollbarWrapper" style="width: unset;">
												<div class="TableScrollbarContainer"></div>
											</div>
											<div class="InnerTableContainer" style="max-width: unset;">
												<table style="width:100%;">
													<tbody>
														<tr>
															<td>
																<div class="TableContentContainer">
																	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																		<tbody>
																		<tr>
																				<td class="LabelV150">
																					<span id="accname_label">Account Name:</span>
																				</td>
																				<td><input id="accname" name="accname" class="CreateAccountFormInput" maxlength="50"><div id="accname_indicator" class="InputIndicatorNotOK"></div>
																				</td>
																			</tr>
																			<tr>
																				<td></td>
																				<td><span id="accname_errormessage" class="FormFieldError" style="display: none;">Please enter your account name!</span></td>
																			</tr>
																			<tr>
																				<td class="LabelV150">
																					<span id="email_label">Email Address:</span>
																				</td>
																				<td><input id="email" name="email" class="CreateAccountFormInput" maxlength="50"><div id="email_indicator" class="InputIndicatorNotOK"></div>
																				</td>
																			</tr>
																			<tr>
																				<td></td>
																				<td><span id="email_errormessage" class="FormFieldError" style="display: none;">Please enter your email address!</span></td>
																			</tr>
																			<tr>
																				<td class="LabelV150">
																					<span id="password1_label">Password:</span>
																				</td>
																				<td>
																					<div class="div_password">
																						<input type="password" name="password1" id="password1" class="CreateAccountFormInput" maxlength="29">
																						<div id="password1_indicator" class="InputIndicatorNotOK"></div>
																						<div class="PWStrengthContainer">
																							<div class="PWStrengthToolTip" id="StrengthDisp">
																								<div class="HelperDivArrow"></div>
																								<div class="PWRules">
																									<div class="PWStrengthToolTipHeadline">Password Rules</div>
																									<div class="PWRule">
																										<div id="PWRule01" class="InputIndicator InputIndicatorNotOK"></div>The password must have at least 10 and less than 30 letters!</div>
																									<div class="PWRule">
																										<div id="PWRule02" class="InputIndicator InputIndicatorNotOK"></div>The password must not contain invalid letters!</div>
																									<div class="PWRule">
																										<div id="PWRule03" class="InputIndicator InputIndicatorNotOK"></div>The password must contain at least one character other than A-Z or a-z!</div>
																									<div class="PWRule">
																										<div id="PWRule04" class="InputIndicator InputIndicatorNotOK"></div>The password must contain at least one lower case letter a-z!</div>
																									<div class="PWRule">
																										<div id="PWRule05" class="InputIndicator InputIndicatorNotOK"></div>The password must contain at least one upper case letter A-Z!</div>
																									<div class="PWRule">
																										<div id="PWRule06" class="InputIndicator InputIndicatorNotOK"></div>The password must contain at least one number 0-9!</div>
																								</div>
																							</div>
																							<div class="PWStrengthIndicator PWStrengthLevel0" id="PWStrengthIndicator">password strength</div>
																						</div>
																					</div>
																				</td>

																			</tr>
																			<tr>
																				<td class="LabelV150">
																					<span id="password2_label">Password Again:</span>
																				</td>
																				<td><input id="password2" type="password" name="password2" class="CreateAccountFormInput" value="" maxlength="29">
																					<div id="password2_indicator" class="InputIndicatorNotOK"></div>
																				</td>
																			</tr>
																			<tr>
																				<td></td>
																				<td>
																					<span id="password_errormessage" class="FormFieldError" style="display: none;">Please enter the password again!</span>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
														<tr>
															<td>
																<div class="TableContentContainer">
																	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																		<tbody>
																			<tr>
																				<td class="LabelV150">
																					<span id="charactername_label">Character Name:</span>
																				</td>
																				<td>
																					<input id="charactername" name="name" class="CreateAccountFormInput" value="" maxlength="29">
																					<div id="charactername_indicator" class="InputIndicatorNotOK"></div>
																				</td>
																			</tr>
																			<tr>
																				<td></td>
																				<td>
																					<span id="charactername_errormessage" class="FormFieldError"></span>
																				</td>
																			</tr>
																			<tr>
																				<td class="LabelV150">
																					<span>Sex:</span>
																				</td>
																				<td>
																					<table width="100%">
																						<tbody>
																							<tr>
																								<td>
																									<span style="margin-right:76px;" class="OptionContainer">
																										<label for="sex_male">
																											<span class="OptionContainer"><input id="sex_male" type="radio" name="sex" value="1"><label for="sex_male">Male</label>
																											</span>
																										</label>
																									</span>
																									<span class="OptionContainer">
																										<label for="sex_female">
																											<span class="OptionContainer"><input id="sex_female" type="radio" name="sex" value="2"><label for="sex_female">Female</label>
																											</span>
																										</label>
																									</span>
																								</td>
																								<td></td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			{% if activevoc == 1 %}
																			<tr>
																				<td class="LabelV150">
																					<span>Vocation:</span>
																				</td>
																				<td>
																					<table width="100%">
																						<tbody>
																							<tr>
																								<td>
																									<span style="margin-right:50px;" class="OptionContainer">
																										<label for="vocation_sorcerer">
																											<span class="OptionContainer"><input id="vocation_sorcerer" type="radio" name="vocation" value="1"><label for="vocation_sorcerer">Sorcerer</label>
																											</span>
																										</label>
																									</span>
																									<span class="OptionContainer">
																										<label for="vocation_druid">
																											<span class="OptionContainer"><input id="vocation_druid" type="radio" name="vocation" value="2"><label for="vocation_druid">Druid</label>
																											</span>
																										</label>
																									</span>
																								</td>
																							</tr>
																							<tr>
																								<td>
																									<span style="margin-right:60px;" class="OptionContainer">
																										<label for="vocation_paladin">
																											<span class="OptionContainer"><input id="vocation_paladin" type="radio" name="vocation" value="3"><label for="vocation_paladin">Paladin</label>
																											</span>
																										</label>
																									</span>
																									<span class="OptionContainer">
																										<label for="vocation_knight">
																											<span class="OptionContainer"><input id="vocation_knight" type="radio" name="vocation" value="4"><label for="vocation_knight">Knight</label>
																											</span>
																										</label>
																									</span>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			{% endif %}
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
														<tr>
															<td>
																<div class="TableContentContainer">
																	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																		<tbody>
																			<tr id="filterbox_location">
																				<td class="LabelV150" colspan="4"><span>World Location:</span></td>
																			</tr>
																			<tr>
																				<td colspan="4">
																					<table width="100%">
																						<tbody>
																							<tr>
																								<td width="25%" valign="top">
																									<script>CreateFilterOption('server_location', 'all', 'all')</script>
																								</td>
																								<td width="25%" style="width: 25%" valign="top">
																									<script>CreateFilterOption('server_location', 'EUR', 'Europe');</script>
																								</td>
																								<td width="25%" valign="top">
																									<script>CreateFilterOption('server_location', 'USA', 'North&#160;America');</script>
																								</td>
																								<td width="25%" valign="top">
																									<script>CreateFilterOption('server_location', 'BRA', 'South&#160;America');</script>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<tr id="filterbox_pvp">
																				<td class="LabelV150" colspan="4">
																					<span>World Type:</span>
																				</td>
																			</tr>
																			<tr>
																				<td colspan="4">
																					<div>
																						<table width="100%">
																							<tbody>
																								<tr>
																									<td width="33%" align="center" valign="top">
																										<b><script>CreateFilterOption('server_pvp_type', 'optional', 'Optional PvP')</script></b>
																										Only if both sides agree, characters can be fought<br /><br />
																									</td>
																									<td width="33%" align="center" valign="top">
																										<b><script>CreateFilterOption('server_pvp_type', 'open', 'Open PvP')</script></b>
																										Killing other characters is possible, but restricted<br /><br />
																									</td>
																									<td width="33%" align="center" valign="top">
																										<b><script>CreateFilterOption('server_pvp_type', 'hardcore', 'Hardcore PvP')</script></b>
																										Killing other characters is not restricted at all<br /><br />
																									</td>
																								</tr>
																								<tr>
																									<td width="33%" align="center" valign="top" style="border:0px;"></td>
																									<td width="33%" align="center" valign="top">
																										<b><script>CreateFilterOption('server_pvp_type', 'retro', 'Retro Open PvP')</script></b>
																										Killing other characters is possible, but restricted (old PvP rules)<br /><br />
																									</td>
																									<td width="33%" align="center" valign="top">
																										<b><script>CreateFilterOption('server_pvp_type', 'retrohardcore', 'Retro Hardcore PvP')</script></b>
																										Killing other characters is not restricted at all (old PvP rules)<br /><br />
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</div>
																				</td>
																			</tr>
																			<tr>
																				<td class="LabelV150">
																					<span>World Name:</span>
																				</td>
																				<td>
																					<div id="js_world_box" style="display: none">
																						<table width="100%">
																							<tbody>
																								<tr id="world_list_tr" style="text-align:left;">
																									<td style="border-style: none" align="center">
																										{% for world in worlds %}
																										<div style="width: 15em; position: relative; text-align: left;">
																											<input type="radio" name="world" id="server_{{ world.name }}" value="{{ world.id }}">
																											<label for="server_{{ world.name }}">{{ world.name }}</label>
																										</div>
																										{% endfor %}
																									</td>
																								</tr>
																							</tbody>
																						</table>
																						<span onclick="ToggleVisibility('js_world_box', 'suggested_world_box'); UpdateServerList(); ">
																							<small>[<a style="cursor:pointer;">suggest game world</a>]</small>
																						</span>
																					</div>
																					<div id="suggested_world_box">Suggested world:
																						<span id="suggested_world_div"></span><br><span onclick="ToggleVisibility('suggested_world_box', 'js_world_box'); ">
																							<small>[<a style="cursor:pointer;">change game world</a>
																							</small>
																						</span>
																						<small>]</small>
																					</div>
																				</td>
																			</tr>
																			<tr>
																				<td colspan="2">
																					<table id="js_world_box" width="100%">
																						<tbody>
																							<tr id="world_list_tr"></tr>
																						</tbody>
																					</table>
																					<table id="plain_world_box" width="100%" style="display: none;">
																						<tbody>
																							<tr>
																								<td>
																									{% for world in worlds %}
																									<label for="server_static_{{ world.name }}">
																										<input id="server_static_{{ world.name }}" type="radio" name="world" value="{{ world.id }}">{{ world.name }} (PVP Type: {{ world.pvp_type_initial }}, Location: {{ world.location }})
																									</label><br>
																									{% endfor %}
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																			<script type="text/javascript">PreselectWorld = ""; InitializeCharacterCreator(0, "all", '{{ preselect_world_pvptype }}')</script>
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
														<tr>
															<td>
																<div class="TableContentContainer">
																	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																		<tbody>
																			<tr>
																				<td>
																					<b>Please select the following check box:</b>
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<label><input type="checkbox" name="agreeagreements" value="true" onclick="if(this.checked == true) {  document.getElementById('agreeagreements_errormessage').innerHTML = '';} else {  document.getElementById('agreeagreements_errormessage').innerHTML = 'You have to agree to the Tibia Service Agreement, the Tibia Rules and the Tibia Privacy Policy in order to create an account!';}"> I agree to the Tibia Service Agreement, the Tibia Rules and the Tibia Privacy Policy.</label>
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<span id="agreeagreements_errormessage" class="FormFieldError"></span>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<center>
							{% set button_name = 'Submit' %}
							{% include "blue_button.html.twig" %}
						</center>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
<script type="text/javascript" src="{{JS_PATH}}/canary_create_character.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script>
$(document).ready(function () {
    $(document).on('keyup', "#charactername", function (e) {
		e.preventDefault();
		$.ajax({
			url: "{{ URL }}/api/v1/check_charactername",
			type: "POST",
			data: $("#CreateAccountAndCharacterForm").serialize(),
			dataType:"json",
			success: function(data){
				$("#charactername_indicator").removeClass('InputIndicatorNotOK');
				$("#charactername_indicator").addClass('InputIndicatorOK');
				$("#charactername_label").css('color', '')
			},
			error: function(data){
				$("#charactername_indicator").removeClass('InputIndicatorOK');
				$("#charactername_indicator").addClass('InputIndicatorNotOK');
				$("#charactername_label").css('color', 'red')
			}
		});
	});
});
</script>