<!-- BEGIN: Content-->
<div class="app-content content ">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-2">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-start mb-0" data-i18n="Publications">Publications</h2>
						<div class="breadcrumb-wrapper">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{{ URL }}/admin/home" data-i18n="Home">Home</a>
								</li>
								<li class="breadcrumb-item active"><a href="{{ URL }}/admin/publications" data-i18n="Publications">Publications</a></li>
                                <li class="breadcrumb-item active" data-i18n="Newsticker">Newsticker</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body">
        <section class="full-editor">
            <div class="row">
                <div class="">
                    {{ status|raw }}
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" data-i18n="Newsticker">Newsticker</h4>
                        </div>
                        <div class="card-body">
                            <form action="{{URL}}/admin/publications/newsticker" method="post">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mb-1">
                                    <label class="form-label" for="newsticker_title" data-i18n="Title">Title</label>
                                    <input type="text" name="newsticker_title" id="newsticker_title" class="form-control mb-1" value="{{ title }}">
                                </div>
                                <div class="col-md-12 col-lg-6">
                                        <label class="form-label" for="newsticker_author" data-i18n="Author">Author</label>
										<select class="form-select" name="newsticker_author">
                                            {% for player in players %}
                                            <option value="{{ player.id }}">{{ player.name }}</option>
                                            {% endfor %}
                                        </select>
									</div>
                                <div class="col-md-12 col-lg-12 mb-1">
                                    <label class="form-label" data-i18n="Category">Category</label>
                                    <input type="radio" class="form-check-input" name="newsticker_category" id="categorynewsticker_1" value="1"> <label for="categorynewsticker_1" class="form-check-label"> <img class="NewsTypeIcon" src="{{ IMAGE_PATH }}/global/content/newsicon_cipsoft_small.gif"> CipSoft</label>
                                    <input type="radio" class="form-check-input" name="newsticker_category" id="categorynewsticker_2" value="2"> <label for="categorynewsticker_2" class="form-check-label"> <img class="NewsTypeIcon" src="{{ IMAGE_PATH }}/global/content/newsicon_community_small.gif"> Community</label>
                                    <input type="radio" class="form-check-input" name="newsticker_category" id="categorynewsticker_3" value="3"> <label for="categorynewsticker_3" class="form-check-label"> <img class="NewsTypeIcon" src="{{ IMAGE_PATH }}/global/content/newsicon_development_small.gif"> Development</label>
                                    <input type="radio" class="form-check-input" name="newsticker_category" id="categorynewsticker_4" value="4"> <label for="categorynewsticker_4" class="form-check-label"> <img class="NewsTypeIcon" src="{{ IMAGE_PATH }}/global/content/newsicon_support_small.gif"> Support</label>
                                    <input type="radio" class="form-check-input" name="newsticker_category" id="categorynewsticker_5" value="5"> <label for="categorynewsticker_5" class="form-check-label"> <img class="NewsTypeIcon" src="{{ IMAGE_PATH }}/global/content/newsicon_technical_small.gif"> Technical Issues</label>
                                </div>
                                <div class="col-sm-12 mb-1">
                                    <div class="col-sm-12 mb-1">
										<div class="form-floating">
											<textarea name="newsticker_body" id="newsticker_body" class="form-control" style="height: 100px"></textarea>
										</div>
									</div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <input type="submit" class="btn btn-primary" data-i18n="Publish" value="Publish">
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		</div>
	</div>
</div>
<script>
CKEDITOR.replace('newsticker_body', {
	height: 400,
	baseFloatZIndex: 10005,
	removeButtons: 'PasteFromWord'
});
</script>