{# CurrentPollBox START #}
<div id="CurrentPollBox" class="Themebox" style="background-image:url({{ IMAGE_PATH }}/global/themeboxes/current-poll/currentpollbox.gif);">
    <div id="CurrentPollText">{{ current_poll.title }}</div>
    <div class="ThemeboxButton">
        <a href="{{ URL }}/community/polls/{{ current_poll.id }}/view" style="padding:0px;margin:0px;">
            <div class="BigButton" style="background-image:url({{ IMAGE_PATH }}/global/buttons/button_blue.gif)"><div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{ IMAGE_PATH }}/global/buttons/button_blue_over.gif);"></div>
            <input class="BigButtonText" type="submit" value="Vote Now"></div></div>
        </a>
    </div>
    <div class="Bottom" style="background-image:url({{ IMAGE_PATH }}/global/general/box-bottom.gif);"></div>
</div>
{# CurrentPollBox END #}