<div id="webshop" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-webshop.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				<script type="text/javascript">
					g_Deactivated = true;
				</script>
				<div id="ProgressBar">
					<div id="MainContainer">
						<div id="BackgroundContainer">
							<img id="BackgroundContainerLeftEnd" src="{{IMAGE_PATH}}/global/content/stonebar-left-end.gif">
							<div id="BackgroundContainerCenter">
								<div id="BackgroundContainerCenterImage" style="background-image:url({{IMAGE_PATH}}/global/content/stonebar-center.gif);"></div>
							</div>
							<img id="BackgroundContainerRightEnd" src="{{IMAGE_PATH}}/global/content/stonebar-right-end.gif">
						</div>
						<img id="TubeLeftEnd" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-left-green.gif">
						<img id="TubeRightEnd" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-right-blue.gif">
						<div id="FirstStep" class="Steps">
							<div class="SingleStepContainer">
								<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-1-green.gif">
								<div class="StepText" style="font-weight:normal;">Select product</div>
							</div>
						</div>
						<div id="StepsContainer1">
							<div id="StepsContainer2">
								<div class="Steps" style="width:33%">
									<div class="TubeContainer">
										<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-green.gif">
									</div>
									<div class="SingleStepContainer">
										<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-2-green.gif">
										<div class="StepText" style="font-weight:bold;">Enter payment data</div>
									</div>
								</div>
								<div class="Steps" style="width:33%">
									<div class="TubeContainer">
										<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-green-blue.gif">
									</div>
									<div class="SingleStepContainer">
										<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-3-blue.gif">
										<div class="StepText" style="font-weight:normal;">Confirm your order</div>
									</div>
								</div>
								<div class="Steps" style="width:33%">
									<div class="TubeContainer">
										<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-blue.gif">
									</div>
									<div class="SingleStepContainer">
										<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-4-blue.gif">
										<div class="StepText" style="font-weight:normal;">Summary</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="CustomerIdentification">Order for:
					<span id="DisplayEMail" onmousedown="ToggleMaskedText('EMail');">********@email.com</span>
					<span id="MaskedEMail">********@email.com</span>
					<span id="ReadableEMail">{{ email }}</span>
					<div><img id="ButtonEMail" onmousedown="ToggleMaskedText('EMail');" src="{{IMAGE_PATH}}/global/general/show.gif"></div>
				</div>
				<form method="post" action="{{URL}}/payment/confirm" id="UserDataForm">
				<div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Enter payment data</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table5" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="TableScrollbarWrapper" style="width: unset;">
										<div class="TableScrollbarContainer"></div>
									</div>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;">
											<tbody>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr>
																		<td style="vertical-align: middle;" class="LabelV200 ">Country:</td>
																		<td><input type="text" name="Form_OrderServiceStep3[Country]" value="{{ country }}" disabled="disabled">
																			<span style="margin-left: 5px; position: absolute; margin-top: 2px;">
																					<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Information:', 'Go back to step 1 if you want to change it.', '');" onmouseout="$('#HelperDivContainer').hide();"><img style="border:0px;" src="{{IMAGE_PATH}}/global/content/info.gif"></span>
																			</span>
																		</td>
																	</tr>
																	<tr>
																		<td style="vertical-align: middle;" class="LabelV200 ">E-Mail Address:</td>
																		<td><input type="text" name="payment_email" value="{{ email }}">
																			<span style="margin-left: 5px; position: absolute; margin-top: 2px;">
																					<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Information:', 'Used to send you the invoice and status updates on the payment process.', '');" onmouseout="$('#HelperDivContainer').hide();"><img style="border:0px;" src="{{IMAGE_PATH}}/global/content/info.gif"></span>
																			</span>
																		</td>
																	</tr>
																	<tr>
																		<td style="vertical-align: middle;" class="LabelV200 ">Total Coins:</td>
																		<td>{{ coins }}<img src="{{IMAGE_PATH}}/account/icon-tibiacointrusted.png" class="VSCCoinImages"></td>
																	</tr>
																	<tr>
																		<td style="vertical-align: middle;" class="LabelV200 ">Method:</td>
																		<td>{{ method }}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="SubmitButtonRow" style="display: flex; justify-content: center;">
					<div class="LeftButton" style="padding: 10px;">
					<input type="hidden" name="payment_method" value="{{ method }}">
					<input type="hidden" name="payment_coins" value="{{ coins }}">
					<input type="hidden" name="payment_country" value="{{ country }}">
					<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green.gif)">
							<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green_over.gif);"></div><input class="BigButtonText" type="submit" value="Next"></div>
						</div>
					</div>
					<div class="RightButton" style="padding: 10px;">
						<a href="{{URL}}/payment">
							<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
								<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image: url(&quot;{{IMAGE_PATH}}/global/buttons/button_blue_over.gif&quot;); visibility: hidden;"></div><input class="BigButtonText" type="button" value="Previous"></div>
							</div>
						</a>
					</div>
				</div>

				</form>
				<script type="text/javascript" src="templates/js/utils.js"></script>
				<script type="text/javascript">

					if (document.getElementById('GameCode_1')) {
AddGameCodeBlockField(document.getElementById('GameCode_1'), document.getElementById('GameCode_2'));
AddGameCodeBlockField(document.getElementById('GameCode_2'), document.getElementById('GameCode_3'));
AddGameCodeBlockField(document.getElementById('GameCode_3'), document.getElementById('GameCode_4'));
AddGameCodeBlockField(document.getElementById('GameCode_4'), null);
}

function createHiddenInput(form, name, value) {
var input = document.createElement("input");
input.setAttribute("type", "hidden");
input.setAttribute("name", name);
input.setAttribute("value", value);
form.appendChild(input);
}

var myCCForm = document.getElementById("UserDataForm");
/*
if (myCCForm != null) {
createHiddenInput(myCCForm, "BrowserColorDepth", screen.colorDepth);
createHiddenInput(myCCForm, "BrowserJavaEnabled", navigator.javaEnabled());
createHiddenInput(myCCForm, "BrowserLanguage", navigator.language);
createHiddenInput(myCCForm, "BrowserScreenHeight", screen.height);
createHiddenInput(myCCForm, "BrowserScreenWidth", screen.width);
createHiddenInput(myCCForm, "BrowserTimeZone", new Date().getTimezoneOffset());
}
*/
				</script>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
