{% if method == 2 %}
<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>

<script type="text/javascript">
//Insira o código de checkout gerado no Passo 1
var code = '{{ code_payment }}';
var callback = {
    success : function(transactionCode) {
        //Insira os comandos para quando o usuário finalizar o pagamento. 
        //O código da transação estará na variável "transactionCode"
        console.log("Compra feita com sucesso, código de transação: " + transactionCode);
    },
    abort : function() {
        //Insira os comandos para quando o usuário abandonar a tela de pagamento.
        console.log("abortado");
    }
};
//Chamada do lightbox passando o código de checkout e os comandos para o callback
var isOpenLightbox = PagSeguroLightbox(code, callback);
// Redireciona o comprador, caso o navegador não tenha suporte ao Lightbox
if (!isOpenLightbox){
    location.href="https://pagseguro.uol.com.br/v2/checkout/payment.html?code=" + code;
    console.log("Redirecionamento")
}
</script>
{% endif %}

{% if method == 4 %}
<script type="text/javascript" src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
{% endif %}

<div class="main-content Content">
	<div id="webshop" class="Box">
		<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
		<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
		<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
		<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-webshop.gif" alt="Contentbox headline">
		<div class="Border_2">
			<div class="Border_3">
				<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
					<script type="text/javascript">
						g_Deactivated = true;
					</script>
					<div id="ProgressBar">
						<div id="MainContainer">
							<div id="BackgroundContainer">
								<img id="BackgroundContainerLeftEnd" src="{{IMAGE_PATH}}/global/content/stonebar-left-end.gif">
								<div id="BackgroundContainerCenter">
									<div id="BackgroundContainerCenterImage" style="background-image:url({{IMAGE_PATH}}/global/content/stonebar-center.gif);"></div>
								</div>
								<img id="BackgroundContainerRightEnd" src="{{IMAGE_PATH}}/global/content/stonebar-right-end.gif">
							</div>
							<img id="TubeLeftEnd" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-left-green.gif">
							<img id="TubeRightEnd" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-right-green.gif">
							<div id="FirstStep" class="Steps">
								<div class="SingleStepContainer">
									<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-1-green.gif">
									<div class="StepText" style="font-weight:normal;">Select product</div>
								</div>
							</div>
							<div id="StepsContainer1">
								<div id="StepsContainer2">
									<div class="Steps" style="width:33%">
										<div class="TubeContainer">
											<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-green.gif">
										</div>
										<div class="SingleStepContainer">
											<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-2-green.gif">
											<div class="StepText" style="font-weight:normal;">Enter payment data</div>
										</div>
									</div>
									<div class="Steps" style="width:33%">
										<div class="TubeContainer">
											<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-green.gif">
										</div>
										<div class="SingleStepContainer">
											<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-3-green.gif">
											<div class="StepText" style="font-weight:normal;">Confirm your order</div>
										</div>
									</div>
									<div class="Steps" style="width:33%">
										<div class="TubeContainer">
											<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-green.gif">
										</div>
										<div class="SingleStepContainer">
											<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-4-green.gif">
											<div class="StepText" style="font-weight:bold;">Summary</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="CustomerIdentification">Order for:
						<span id="DisplayEMail" onmousedown="ToggleMaskedText('EMail');">********@email.com</span>
						<span id="MaskedEMail">********@email.com</span>
						<span id="ReadableEMail">{{ email }}</span>
						<div><img id="ButtonEMail" onmousedown="ToggleMaskedText('EMail');" src="{{IMAGE_PATH}}/global/general/show.gif"></div>
					</div>
					<div class="TableContainer">
						<div class="CaptionContainer">
							<div class="CaptionInnerContainer">
								<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<div class="Text">Summary</div>
								<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							</div>
						</div>
						<table class="Table5" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>
										<div class="TableScrollbarWrapper" style="width: unset;">
											<div class="TableScrollbarContainer"></div>
										</div>
										<div class="InnerTableContainer" style="max-width: unset;">
											<table style="width:100%;">
												<tbody>
													<tr>
														<td>
															<div class="TableContentContainer">
																<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																	<tbody>
																		<tr>
																			<td>Thank you for your order. After clicking on "Next" you will be redirected to BoaCompra in order to carry out the payment. Please keep in mind that depending on the selected payment method your order may take several days to be finalised, particularly when using an offline payment method (e.g. bank transfer or Boleto Bancário).</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="SubmitButtonRow" style="display: flex; justify-content: center;">
						{% if method == 1 %}
						<div class="LeftButton" style="padding: 10px;">
							<a href="{{ code_payment }}">
								<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green.gif)">
									<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green_over.gif);"></div><input class="BigButtonText" type="submit" value="Next"></div>
								</div>
							</a>
						</div>
						{% endif %}
						{% if method == 2 %}
						<div class="LeftButton" style="padding: 10px;">
							<a href="https://sandbox.pagseguro.uol.com.br/v2/checkout/payment.html?code={{ code_payment }}">
								<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green.gif)">
									<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green_over.gif);"></div><input class="BigButtonText" type="submit" value="Next"></div>
								</div>
							</a>
						</div>
						{% endif %}
						{% if method == 4 %}
						<div class="LeftButton" style="padding: 10px;">
							<a href="{{ code_payment }}">
								<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green.gif)">
									<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green_over.gif);"></div><input class="BigButtonText" type="submit" value="Next"></div>
								</div>
							</a>
						</div>
						{% endif %}
						<div class="RightButton" style="padding: 10px;">
							<a href="{{URL}}/payment" style="padding:0px;margin:0px;">
								<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
									<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Back"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
		<div class="CornerWrapper-b">
			<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
		</div>
		<div class="CornerWrapper-b">
			<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
		</div>
	</div>
</div>
