<div id="webshop" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-webshop.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				<script type="text/javascript">
					g_Deactivated = true;
				</script>

				<script type="text/javascript">

					// define data structures
var g_Services = [120, 121, 122, 123];
var g_PaymentMethodCategories = [
11,
21,
22,
31,
32,
144,
145,
81,
90
];
var g_Prices = {
"120": {
"11": "47.00 BRL",
"21": "47.00 BRL",
"22": "47.00 BRL",
"31": "47.00 BRL",
"32": "47.00 BRL",
"144": "47.00 BRL",
"145": "47.00 BRL",
"81": "47.38 BRL",
"90": "price on application"
},
"121": {
"11": "128.00 BRL",
"21": "128.00 BRL",
"22": "128.00 BRL",
"31": "128.00 BRL",
"32": "128.00 BRL",
"144": "128.00 BRL",
"145": "128.00 BRL",
"81": "127.51 BRL",
"90": "price on application"
},
"122": {
"11": "227.00 BRL",
"21": "227.00 BRL",
"22": "227.00 BRL",
"31": "227.00 BRL",
"32": "227.00 BRL",
"144": "227.00 BRL",
"145": "227.00 BRL",
"81": "226.54 BRL",
"90": "price on application"
},
"123": {
"11": "397.00 BRL",
"21": "397.00 BRL",
"22": "397.00 BRL",
"31": "397.00 BRL",
"32": "397.00 BRL",
"144": "397.00 BRL",
"145": "397.00 BRL",
"81": "396.64 BRL",
"90": "price on application"
}
};

// change the selected service
function ChangeService(a_ServiceID, a_ServiceCategoryID) {
// console.log('### ChangeService() ### a_ServiceID #' + a_ServiceID + '# a_ServiceCategoryID #' + a_ServiceCategoryID + '#');
// set the ServiceID for the change country form
$('#CC_ServiceID').val(a_ServiceID);
$('#CC_ServiceID').attr('name', 'InitialServiceID');
// activate the radio button itself and set the price
$('#ServiceID_' + a_ServiceID).attr('checked', 'checked');
$('.ServiceID_Icon_Container').css('background-color', '');
// handle payment methods
for (var i = 0; i < g_PaymentMethodCategories.length; i++) {
if (typeof g_Prices[a_ServiceID] !== 'undefined') { // console.log('### ChangeService() ### check  #' + typeof g_Prices[a_ServiceID][g_PaymentMethodCategories[i]] + '# #' + g_Prices[a_ServiceID][g_PaymentMethodCategories[i]] + '#');
if (typeof g_Prices[a_ServiceID][g_PaymentMethodCategories[i]] === 'undefined' // ###peter: [TIBIA-10665]
|| typeof g_Prices[a_ServiceID][g_PaymentMethodCategories[i]] === 'string' && g_Prices[a_ServiceID][g_PaymentMethodCategories[i]] == 'The product is not available for the selected payment method!') {
// deactivate the payment method
// note: the radio button can not be disabled or we will receive the wrong error message
$('#PMCID_NotAllowed_' + g_PaymentMethodCategories[i]).show();
} else { // activate the payment method
$('#PMCID_NotAllowed_' + g_PaymentMethodCategories[i]).hide();
}
}
}
// activate and mark the selected icon
$('.ServiceID_Icon_Selected').css('background-image', '');
$('#ServiceID_Icon_Selected_' + a_ServiceID).css('background-image', 'url(' + JS_DIR_IMAGES + 'payment/serviceid_icon_selected.png)');
return;
}

// change the selected payment method category
function ChangePMC(a_PaymentMethodID) {
// console.log('### ChangePMC() ### a_PaymentMethodID #' + a_PaymentMethodID + '#');
// set the PMCID for the change country form
$('#CC_PMCID').val(a_PaymentMethodID);
$('#CC_PMCID').attr('name', 'InitialPMCID');
// activate the radio button
$('#PMCID_' + a_PaymentMethodID).attr('checked', 'checked');
$('.PMCID_Icon_Container').css('background-color', '');
// handle services
for (var i = 0; i < g_Services.length; i++) {
if (typeof g_Prices[g_Services[i]] !== 'undefined') { // console.log('### ChangePMC() ### check  #' + typeof g_Prices[g_Services[i]][a_PaymentMethodID] + '# #' + g_Prices[g_Services[i]][a_PaymentMethodID] + '#');
if (typeof g_Prices[g_Services[i]][a_PaymentMethodID] === 'undefined' // ###peter: [TIBIA-10665]
|| typeof g_Prices[g_Services[i]][a_PaymentMethodID] === 'string' && g_Prices[g_Services[i]][a_PaymentMethodID] == 'The product is not available for the selected payment method!') {
// deactivate the service
// note: the radio button can not be disabled or we will receive the wrong error message
$('#ServiceID_NotAllowed_' + g_Services[i]).show();
// set the price
$('#PD_' + g_Services[i]).html('---');
} else {
// activate the service
// set the price
$('#PD_' + g_Services[i]).html(g_Prices[g_Services[i]][a_PaymentMethodID]);
$('#ServiceID_NotAllowed_' + g_Services[i]).hide();
}
}
}
// activate and mark the selected icon
$('.PMCID_Icon_Selected').css('background-image', '');
$('#PMCID_Icon_Selected_' + a_PaymentMethodID).css('background-image', 'url(' + JS_DIR_IMAGES + 'payment/pmcid_icon_selected.png)');
return;
}

// mouse over effect for payment methods
function MouseOverPMCID(a_PMCID) {
$('#PMCID_Icon_Over_' + a_PMCID).css('background-image', 'url(' + JS_DIR_IMAGES + 'payment/pmcid_icon_over.png)');
}

// mouse out effect for payment methods
function MouseOutPMCID(a_PMCID) {
$('#PMCID_Icon_Over_' + a_PMCID).css('background-image', '');
}

// mouse over effect for products
function MouseOverServiceID(a_ServiceID, a_ServiceCategoryID) {
$('#ServiceID_Icon_Over_' + a_ServiceID).css('background-image', 'url(' + JS_DIR_IMAGES + 'payment/serviceid_icon_over.png)');
}

// mouse out effect for products
function MouseOutServiceID(a_ServiceID, a_ServiceCategoryID) {
$('#ServiceID_Icon_Over_' + a_ServiceID).css('background-image', '');
}
				</script>

				<div id="ProgressBar">
					<div id="MainContainer">
						<div id="BackgroundContainer">
							<img id="BackgroundContainerLeftEnd" src="{{IMAGE_PATH}}/global/content/stonebar-left-end.gif">
							<div id="BackgroundContainerCenter">
								<div id="BackgroundContainerCenterImage" style="background-image:url({{IMAGE_PATH}}/global/content/stonebar-center.gif);"></div>
							</div>
							<img id="BackgroundContainerRightEnd" src="{{IMAGE_PATH}}/global/content/stonebar-right-end.gif">
						</div>
						<img id="TubeLeftEnd" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-left-green.gif">
						<img id="TubeRightEnd" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-right-blue.gif">
						<div id="FirstStep" class="Steps">
							<div class="SingleStepContainer">
								<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-1-green.gif">
								<div class="StepText" style="font-weight:bold;">Select product</div>
							</div>
						</div>
						<div id="StepsContainer1">
							<div id="StepsContainer2">
								<div class="Steps" style="width:33%">
									<div class="TubeContainer">
										<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-green-blue.gif">
									</div>
									<div class="SingleStepContainer">
										<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-2-blue.gif">
										<div class="StepText" style="font-weight:normal;">Enter payment data</div>
									</div>
								</div>
								<div class="Steps" style="width:33%">
									<div class="TubeContainer">
										<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-blue.gif">
									</div>
									<div class="SingleStepContainer">
										<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-3-blue.gif">
										<div class="StepText" style="font-weight:normal;">Confirm your order</div>
									</div>
								</div>
								<div class="Steps" style="width:33%">
									<div class="TubeContainer">
										<img class="Tube" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-tube-blue.gif">
									</div>
									<div class="SingleStepContainer">
										<img class="StepIcon" src="{{IMAGE_PATH}}/global/content/progressbar/progress-bar-icon-4-blue.gif">
										<div class="StepText" style="font-weight:normal;">Summary</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="CustomerIdentification">Order for:
					<span id="DisplayEMail" onmousedown="ToggleMaskedText('EMail');">e*******@email.com</span>
					<span id="MaskedEMail">e*******@email.com</span>
					<span id="ReadableEMail">{{ email }}</span>
					<div><img id="ButtonEMail" onmousedown="ToggleMaskedText('EMail');" src="{{IMAGE_PATH}}/global/general/show.gif"></div>
				</div>
				<form method="post" action="{{URL}}/payment/data">
					<div class="TableContainer">
						<div class="CaptionContainer">
							<div class="CaptionInnerContainer">
								<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<div class="Text">Select product</div>
								<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							</div>
						</div>
						<table class="Table5" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>
										<div class="TableScrollbarWrapper" style="width: unset;">
											<div class="TableScrollbarContainer"></div>
										</div>
										<div class="InnerTableContainer" style="max-width: unset;">
											<table style="width:100%;">
												<tbody>
													<tr>
														<td>
															<div class="TableContentContainer">
																<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																	<tbody>
																		<tr>
																			<td class="LabelV150">
																				<span>Country:</span>
																			</td>
																			<td>
																				<select name="payment_country" class="Width100Percent" onblur="CheckForReload(this)">
																					<option value="">--- please select your country ---</option>
																					<option value="AF">Afghanistan</option>
																					<option value="AX">Åland Islands</option>
																					<option value="AL">Albania</option>
																					<option value="DZ">Algeria</option>
																					<option value="AS">American Samoa</option>
																					<option value="AD">Andorra</option>
																					<option value="AO">Angola</option>
																					<option value="AI">Anguilla</option>
																					<option value="AG">Antigua and Barbuda</option>
																					<option value="AR">Argentina</option>
																					<option value="AM">Armenia</option>
																					<option value="AW">Aruba</option>
																					<option value="AU">Australia</option>
																					<option value="AT">Austria</option>
																					<option value="AZ">Azerbaijan</option>
																					<option value="BS">Bahamas</option>
																					<option value="BH">Bahrain</option>
																					<option value="BD">Bangladesh</option>
																					<option value="BB">Barbados</option>
																					<option value="BY">Belarus</option>
																					<option value="BE">Belgium</option>
																					<option value="BZ">Belize</option>
																					<option value="BJ">Benin</option>
																					<option value="BM">Bermuda</option>
																					<option value="BT">Bhutan</option>
																					<option value="BO">Bolivia</option>
																					<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
																					<option value="BA">Bosnia and Herzegovina</option>
																					<option value="BW">Botswana</option>
																					<option value="BR" selected="">Brazil</option>
																					<option value="IO">British Indian Ocean Territory</option>
																					<option value="BN">Brunei Darussalam</option>
																					<option value="BG">Bulgaria</option>
																					<option value="BF">Burkina Faso</option>
																					<option value="BI">Burundi</option>
																					<option value="KH">Cambodia</option>
																					<option value="CM">Cameroon</option>
																					<option value="CA">Canada</option>
																					<option value="CV">Cape Verde</option>
																					<option value="KY">Cayman Islands</option>
																					<option value="CF">Central African Republic</option>
																					<option value="TD">Chad</option>
																					<option value="CL">Chile</option>
																					<option value="CN">China</option>
																					<option value="CX">Christmas Island</option>
																					<option value="CO">Colombia</option>
																					<option value="KM">Comoros</option>
																					<option value="CG">Congo-Brazzaville</option>
																					<option value="CD">Congo Democratic Republic</option>
																					<option value="CK">Cook Islands</option>
																					<option value="CR">Costa Rica</option>
																					<option value="CI">Côte d'Ivoire</option>
																					<option value="HR">Croatia</option>
																					<option value="CU">Cuba</option>
																					<option value="CW">Curaçao</option>
																					<option value="CY">Cyprus</option>
																					<option value="CZ">Czech Republic</option>
																					<option value="DK">Denmark</option>
																					<option value="DJ">Djibouti</option>
																					<option value="DM">Dominica</option>
																					<option value="DO">Dominican Republic</option>
																					<option value="EC">Ecuador</option>
																					<option value="EG">Egypt</option>
																					<option value="SV">El Salvador</option>
																					<option value="GQ">Equatorial Guinea</option>
																					<option value="ER">Eritrea</option>
																					<option value="EE">Estonia</option>
																					<option value="ET">Ethiopia</option>
																					<option value="FK">Falkland Islands</option>
																					<option value="FO">Faroe Islands</option>
																					<option value="FJ">Fiji</option>
																					<option value="FI">Finland</option>
																					<option value="FR">France</option>
																					<option value="GF">French Guiana</option>
																					<option value="PF">French Polynesia</option>
																					<option value="GA">Gabon</option>
																					<option value="GM">Gambia</option>
																					<option value="GE">Georgia</option>
																					<option value="DE">Germany</option>
																					<option value="GH">Ghana</option>
																					<option value="GI">Gibraltar</option>
																					<option value="GR">Greece</option>
																					<option value="GL">Greenland</option>
																					<option value="GD">Grenada</option>
																					<option value="GP">Guadeloupe</option>
																					<option value="GU">Guam</option>
																					<option value="GT">Guatemala</option>
																					<option value="GG">Guernsey</option>
																					<option value="GN">Guinea</option>
																					<option value="GW">Guinea-Bissau</option>
																					<option value="GY">Guyana</option>
																					<option value="HT">Haiti</option>
																					<option value="HN">Honduras</option>
																					<option value="HK">Hong Kong</option>
																					<option value="HU">Hungary</option>
																					<option value="IS">Iceland</option>
																					<option value="IN">India</option>
																					<option value="ID">Indonesia</option>
																					<option value="IR">Iran</option>
																					<option value="IQ">Iraq</option>
																					<option value="IE">Ireland</option>
																					<option value="IM">Isle of Man</option>
																					<option value="IL">Israel</option>
																					<option value="IT">Italy</option>
																					<option value="JM">Jamaica</option>
																					<option value="JP">Japan</option>
																					<option value="JE">Jersey</option>
																					<option value="JO">Jordan</option>
																					<option value="KZ">Kazakhstan</option>
																					<option value="KE">Kenya</option>
																					<option value="KI">Kiribati</option>
																					<option value="KP">Korea Democratic Republic</option>
																					<option value="KR">Korea Republic</option>
																					<option value="KW">Kuwait</option>
																					<option value="KG">Kyrgyzstan</option>
																					<option value="LA">Laos</option>
																					<option value="LV">Latvia</option>
																					<option value="LB">Lebanon</option>
																					<option value="LS">Lesotho</option>
																					<option value="LR">Liberia</option>
																					<option value="LY">Libya</option>
																					<option value="LI">Liechtenstein</option>
																					<option value="LT">Lithuania</option>
																					<option value="LU">Luxembourg</option>
																					<option value="MO">Macao</option>
																					<option value="MK">Macedonia</option>
																					<option value="MG">Madagascar</option>
																					<option value="MW">Malawi</option>
																					<option value="MY">Malaysia</option>
																					<option value="MV">Maldives</option>
																					<option value="ML">Mali</option>
																					<option value="MT">Malta</option>
																					<option value="MH">Marshall Islands</option>
																					<option value="MQ">Martinique</option>
																					<option value="MR">Mauritania</option>
																					<option value="MU">Mauritius</option>
																					<option value="YT">Mayotte</option>
																					<option value="MX">Mexico</option>
																					<option value="FM">Micronesia</option>
																					<option value="MD">Moldova</option>
																					<option value="MC">Monaco</option>
																					<option value="MN">Mongolia</option>
																					<option value="ME">Montenegro</option>
																					<option value="MS">Montserrat</option>
																					<option value="MA">Morocco</option>
																					<option value="MZ">Mozambique</option>
																					<option value="MM">Myanmar</option>
																					<option value="NA">Namibia</option>
																					<option value="NR">Nauru</option>
																					<option value="NP">Nepal</option>
																					<option value="NL">Netherlands</option>
																					<option value="NC">New Caledonia</option>
																					<option value="NZ">New Zealand</option>
																					<option value="NI">Nicaragua</option>
																					<option value="NE">Niger</option>
																					<option value="NG">Nigeria</option>
																					<option value="NU">Niue</option>
																					<option value="NF">Norfolk Island</option>
																					<option value="MP">Northern Mariana Islands</option>
																					<option value="NO">Norway</option>
																					<option value="OM">Oman</option>
																					<option value="PK">Pakistan</option>
																					<option value="PW">Palau</option>
																					<option value="PS">Palestine</option>
																					<option value="PA">Panama</option>
																					<option value="PG">Papua New Guinea</option>
																					<option value="PY">Paraguay</option>
																					<option value="PE">Peru</option>
																					<option value="PH">Philippines</option>
																					<option value="PL">Poland</option>
																					<option value="PT">Portugal</option>
																					<option value="PR">Puerto Rico</option>
																					<option value="QA">Qatar</option>
																					<option value="RE">Réunion</option>
																					<option value="RO">Romania</option>
																					<option value="RU">Russian Federation</option>
																					<option value="RW">Rwanda</option>
																					<option value="BL">Saint Barthélemy</option>
																					<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
																					<option value="KN">Saint Kitts and Nevis</option>
																					<option value="LC">Saint Lucia</option>
																					<option value="MF">Saint Martin</option>
																					<option value="PM">Saint Pierre and Miquelon</option>
																					<option value="VC">Saint Vincent and the Grenadines</option>
																					<option value="WS">Samoa</option>
																					<option value="SM">San Marino</option>
																					<option value="ST">São Tome and Principe</option>
																					<option value="SA">Saudi Arabia</option>
																					<option value="SN">Senegal</option>
																					<option value="RS">Serbia</option>
																					<option value="SC">Seychelles</option>
																					<option value="SL">Sierra Leone</option>
																					<option value="SG">Singapore</option>
																					<option value="SX">Sint Maarten</option>
																					<option value="SK">Slovakia</option>
																					<option value="SI">Slovenia</option>
																					<option value="SB">Solomon Islands</option>
																					<option value="SO">Somalia</option>
																					<option value="ZA">South Africa</option>
																					<option value="GS">South Georgia and the South Sandwich Islands</option>
																					<option value="SS">South Sudan</option>
																					<option value="ES">Spain</option>
																					<option value="LK">Sri Lanka</option>
																					<option value="SD">Sudan</option>
																					<option value="SR">Suriname</option>
																					<option value="SZ">Swaziland</option>
																					<option value="SE">Sweden</option>
																					<option value="CH">Switzerland</option>
																					<option value="SY">Syria</option>
																					<option value="TW">Taiwan</option>
																					<option value="TJ">Tajikistan</option>
																					<option value="TZ">Tanzania</option>
																					<option value="TH">Thailand</option>
																					<option value="TL">Timor-Leste</option>
																					<option value="TG">Togo</option>
																					<option value="TK">Tokelau</option>
																					<option value="TO">Tonga</option>
																					<option value="TT">Trinidad and Tobago</option>
																					<option value="TN">Tunisia</option>
																					<option value="TR">Turkey</option>
																					<option value="TM">Turkmenistan</option>
																					<option value="TC">Turks and Caicos Islands</option>
																					<option value="TV">Tuvalu</option>
																					<option value="UG">Uganda</option>
																					<option value="UA">Ukraine</option>
																					<option value="AE">United Arab Emirates</option>
																					<option value="GB">United Kingdom</option>
																					<option value="US">United States</option>
																					<option value="UY">Uruguay</option>
																					<option value="UZ">Uzbekistan</option>
																					<option value="VU">Vanuatu</option>
																					<option value="VA">Vatican</option>
																					<option value="VE">Venezuela</option>
																					<option value="VN">Viet Nam</option>
																					<option value="VG">Virgin Islands, British</option>
																					<option value="VI">Virgin Islands, U.S.</option>
																					<option value="WF">Wallis and Futuna</option>
																					<option value="EH">Western Sahara</option>
																					<option value="YE">Yemen</option>
																					<option value="ZM">Zambia</option>
																					<option value="ZW">Zimbabwe</option>
																				</select>
																				<div id="SelectCountrySubmitButton" style="float: right; display: none;">
																					<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
																						<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);">
																							<div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Change Country"></div>
																					</div>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</td>
													</tr>
													<tr class="ProductCategoryTabRow">
														<td>
															<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Tibia Coins<br/><small>(transferable)</small>', 'Tibia Coins are Tibia\'s currency to purchase exclusive products in the Store.<br /><br />Transferable Tibia Coins can be gifted to other accounts, traded via the Market and used to purchase all products offered for Tibia Coins in the Store, e.g. mounts, outfits, Premium Time, boosts or decoration items.<br /><br />', 'ProductCategoryHelperDiv_19');" onmouseout="$('#HelperDivContainer').hide();">
																<div class="InnerTableTab WideTab ActiveInnerTableTab">
																	<div id="ProductCategoryHelperDiv_19" class="ProductCategoryHelperDiv"></div>
																	<a href=""><img src="{{IMAGE_PATH}}/global/content/tab_wide_active.png"><div class="InnerTableTabLabel">Tibia Coins<div class="TabLableAdditional">(transferable)</div>
																		</div>
																	</a>
																</div>
															</span>
														</td>
													</tr>
													<form method="post" action=""></form>
													<tr>
														<td>
															<div class="TableContentContainer">
																<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																	<tbody>
																		<tr>
																			<td style="text-align: center;" align="center">
																				<div class="OptionsContainer">
																					<div class="ServiceID_Icon_Container" id="ServiceID_Icon_Container_193">
																						<div class="ServiceID_Icon_Container_Background" id="" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_icon_normal.png);">
																							<div class="ServiceID_Icon" id="ServiceID_Icon_193" style="" onclick="ChangeService(193, 19);" onmouseover="MouseOverServiceID(193, 19);" onmouseout="MouseOutServiceID(193, 19);">
																								<div class="PermanentDeactivated ServiceID_Deactivated_ByChoice" id="ServiceID_NotAllowed_193" style="display: none;">
																									<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Service Info:', '<p>The product is not available for the selected payment method!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																										<div class="ServiceID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/serviceid_deactivated.png);"></div>
																									</span>
																								</div>
																								<div class="ServiceID_Icon_New" id="ServiceID_Icon_New_193" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_193_transferable.png);"></div>
																								<div class="ServiceID_Icon_Selected" id="ServiceID_Icon_Selected_193"></div>
																								<div class="ServiceID_Icon_Over" id="ServiceID_Icon_Over_193"></div>
																								<label for="ServiceID_193">
																									<div class="ServiceIDLabelContainer">
																										<div class="ServiceIDLabel">
																											<input type="radio" id="ServiceID_193" name="payment_coins" value="250" style="display: none;">250 Coins
																										</div>
																									</div>
																									<div class="ServiceIDPriceContainer">
																										<span class="ServiceIDPrice" id="PD_193">50.00 BRL</span>
																										*</div>
																								</label>
																							</div>
																						</div>
																					</div>
																					<div class="ServiceID_Icon_Container" id="ServiceID_Icon_Container_194">
																						<div class="ServiceID_Icon_Container_Background" id="" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_icon_normal.png);">
																							<div class="ServiceID_Icon" id="ServiceID_Icon_194" style="" onclick="ChangeService(194, 19);" onmouseover="MouseOverServiceID(194, 19);" onmouseout="MouseOutServiceID(194, 19);">
																								<div class="PermanentDeactivated ServiceID_Deactivated_ByChoice" id="ServiceID_NotAllowed_194" style="display: none;">
																									<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Service Info:', '<p>The product is not available for the selected payment method!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																										<div class="ServiceID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/serviceid_deactivated.png);"></div>
																									</span>
																								</div>
																								<div class="ServiceID_Icon_New" id="ServiceID_Icon_New_194" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_194_transferable.png);"></div>
																								<div class="ServiceID_Icon_Selected" id="ServiceID_Icon_Selected_194"></div>
																								<div class="ServiceID_Icon_Over" id="ServiceID_Icon_Over_194"></div>
																								<label for="ServiceID_194">
																									<div class="ServiceIDLabelContainer">
																										<div class="ServiceIDLabel">
																											<input type="radio" id="ServiceID_194" name="payment_coins" value="750" style="display: none;">750 Coins
																										</div>
																									</div>
																									<div class="ServiceIDPriceContainer">
																										<span class="ServiceIDPrice" id="PD_194">139.00 BRL</span>
																										*</div>
																								</label>
																							</div>
																						</div>
																					</div>
																					<div class="ServiceID_Icon_Container" id="ServiceID_Icon_Container_195">
																						<div class="ServiceID_Icon_Container_Background" id="" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_icon_normal.png);">
																							<div class="ServiceID_Icon" id="ServiceID_Icon_195" style="" onclick="ChangeService(195, 19);" onmouseover="MouseOverServiceID(195, 19);" onmouseout="MouseOutServiceID(195, 19);">
																								<div class="PermanentDeactivated ServiceID_Deactivated_ByChoice" id="ServiceID_NotAllowed_195" style="display: none;">
																									<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Service Info:', '<p>The product is not available for the selected payment method!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																										<div class="ServiceID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/serviceid_deactivated.png);"></div>
																									</span>
																								</div>
																								<div class="ServiceID_Icon_New" id="ServiceID_Icon_New_195" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_195_transferable.png);"></div>
																								<div class="ServiceID_Icon_Selected" id="ServiceID_Icon_Selected_195"></div>
																								<div class="ServiceID_Icon_Over" id="ServiceID_Icon_Over_195"></div>
																								<label for="ServiceID_195">
																									<div class="ServiceIDLabelContainer">
																										<div class="ServiceIDLabel">
																											<input type="radio" id="ServiceID_195" name="payment_coins" value="1500" style="display: none;">1500 Coins
																										</div>
																									</div>
																									<div class="ServiceIDPriceContainer">
																										<span class="ServiceIDPrice" id="PD_195">278.00 BRL</span>
																										*</div>
																								</label>
																							</div>
																						</div>
																					</div>
																					<div class="ServiceID_Icon_Container" id="ServiceID_Icon_Container_196">
																						<div class="ServiceID_Icon_Container_Background" id="" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_icon_normal.png);">
																							<div class="ServiceID_Icon" id="ServiceID_Icon_196" style="" onclick="ChangeService(196, 19);" onmouseover="MouseOverServiceID(196, 19);" onmouseout="MouseOutServiceID(196, 19);">
																								<div class="PermanentDeactivated ServiceID_Deactivated_ByChoice" id="ServiceID_NotAllowed_196" style="display: none;">
																									<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Service Info:', '<p>The product is not available for the selected payment method!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																										<div class="ServiceID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/serviceid_deactivated.png);"></div>
																									</span>
																								</div>
																								<div class="ServiceID_Icon_New" id="ServiceID_Icon_New_196" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_196_transferable.png);"></div>
																								<div class="ServiceID_Icon_Selected" id="ServiceID_Icon_Selected_196"></div>
																								<div class="ServiceID_Icon_Over" id="ServiceID_Icon_Over_196"></div>
																								<label for="ServiceID_196">
																									<div class="ServiceIDLabelContainer">
																										<div class="ServiceIDLabel">
																											<input type="radio" id="ServiceID_196" name="payment_coins" value="3000" style="display: none;">3000 Coins
																										</div>
																									</div>
																									<div class="ServiceIDPriceContainer">
																										<span class="ServiceIDPrice" id="PD_196">556.89 BRL</span>
																										*</div>
																								</label>
																							</div>
																						</div>
																					</div>
																					<div class="ServiceID_Icon_Container" id="ServiceID_Icon_Container_197">
																						<div class="ServiceID_Icon_Container_Background" id="" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_icon_normal.png);">
																							<div class="ServiceID_Icon" id="ServiceID_Icon_197" style="" onclick="ChangeService(197, 19);" onmouseover="MouseOverServiceID(197, 19);" onmouseout="MouseOutServiceID(197, 19);">
																								<div class="PermanentDeactivated ServiceID_Deactivated_ByChoice" id="ServiceID_NotAllowed_197" style="display: none;">
																									<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Service Info:', '<p>The product is not available for the selected payment method!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																										<div class="ServiceID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/serviceid_deactivated.png);"></div>
																									</span>
																								</div>
																								<div class="ServiceID_Icon_New" id="ServiceID_Icon_New_197" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_197_transferable.png);"></div>
																								<div class="ServiceID_Icon_Selected" id="ServiceID_Icon_Selected_197"></div>
																								<div class="ServiceID_Icon_Over" id="ServiceID_Icon_Over_197"></div>
																								<label for="ServiceID_197">
																									<div class="ServiceIDLabelContainer">
																										<div class="ServiceIDLabel">
																											<input type="radio" id="ServiceID_197" name="payment_coins" value="4500" style="display: none;">4500 Coins
																										</div>
																									</div>
																									<div class="ServiceIDPriceContainer">
																										<span class="ServiceIDPrice" id="PD_197">835.00 BRL</span>
																										*</div>
																								</label>
																							</div>
																						</div>
																					</div>
																					<div class="ServiceID_Icon_Container" id="ServiceID_Icon_Container_198">
																						<div class="ServiceID_Icon_Container_Background" id="" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_icon_normal.png);">
																							<div class="ServiceID_Icon" id="ServiceID_Icon_198" style="" onclick="ChangeService(198, 19);" onmouseover="MouseOverServiceID(198, 19);" onmouseout="MouseOutServiceID(198, 19);">
																								<div class="PermanentDeactivated ServiceID_Deactivated_ByChoice" id="ServiceID_NotAllowed_198" style="display: none;">
																									<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Service Info:', '<p>The product is not available for the selected payment method!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																										<div class="ServiceID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/serviceid_deactivated.png);"></div>
																									</span>
																								</div>
																								<div class="ServiceID_Icon_New" id="ServiceID_Icon_New_198" style="background-image:url({{IMAGE_PATH}}/payment/serviceid_198_transferable.png);"></div>
																								<div class="ServiceID_Icon_Selected" id="ServiceID_Icon_Selected_198"></div>
																								<div class="ServiceID_Icon_Over" id="ServiceID_Icon_Over_198"></div>
																								<label for="ServiceID_198">
																									<div class="ServiceIDLabelContainer">
																										<div class="ServiceIDLabel">
																											<input type="radio" id="ServiceID_198" name="payment_coins" value="15000" style="display: none;">15000 Coins
																										</div>
																									</div>
																									<div class="ServiceIDPriceContainer">
																										<span class="ServiceIDPrice" id="PD_198">2784.00 BRL</span>
																										*</div>
																								</label>
																							</div>
																						</div>
																					</div>
																				</div>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<small>
																					<div style="float: left; margin-right: 5px;">*</div>
																					<div style="float: left;">
																						<div id="ExchangeRateNote">Please note that the prices may vary depending on the current exchange rate.</div>Different prices may apply depending on your selected payment method.</div>
																				</small>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="TableContentContainer">
																<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																	<tbody>
																		<tr>
																			<td style="text-align: center;" align="center">
																				<div class="OptionsContainer">
																					<div class="PMCID_Icon_Container" id="PMCID_Icon_Container_31">
																						<div class="PMCID_Icon" id="PMCID_Icon_31" style="background-image:url({{IMAGE_PATH}}//payment/pmcid_icon_normal.png);" onclick="ChangePMC(31);" onmouseover="MouseOverPMCID(31);" onmouseout="MouseOutPMCID(31);">
																							<div class="PermanentDeactivated PMCID_Deactivated_ByChoice" id="PMCID_NotAllowed_31" style="display: none;" "=" ">
																								<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Payment Method Info:', '<p>The payment method is not allowed for the selected service!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																									<div class="PMCID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/pmcid_deactivated.png);"></div>
																								</span>
																							</div>
																							<div class="PMCID_Icon_Selected" id="PMCID_Icon_Selected_31"></div>
																							<div class="PMCID_Icon_Over" id="PMCID_Icon_Over_31"></div>
																							<div class="PMCID_QuicknessIndicator">
																								<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Usual Process Time:', '<p>It usually takes <b>several hours</b> until you receive the ordered product if you use this payment method.</p><p>However, in some cases, the process time <b>can also take several days!</b></p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																									<div class="PMCID_QuicknessIndicatorLabelContainer">
																										<div class="PMCID_QuicknessIndicatorLabel">Usual Process Time:<br>fast</div>
																									</div>
																								</span>
																							</div>
																							<span style="position: absolute; left: 125px; top: 53px; z-index: 99;"></span>
																							<img class="PMCID_CP_Icon" src="{{IMAGE_PATH}}/payment/paymentmethodcategory31.gif">
																							<div class="PMCID_CP_Label">
																								<input type="radio" id="PMCID_31" name="payment_method" value="paypal" style="display: none;">
																								<label for="PMCID_31">PayPal
																								</label>
																							</div>
																						</div>
																					</div>
																					<div class="PMCID_Icon_Container" id="PMCID_Icon_Container_32">
																						<div class="PMCID_Icon" id="PMCID_Icon_32" style="background-image:url({{IMAGE_PATH}}//payment/pmcid_icon_normal.png);" onclick="ChangePMC(32);" onmouseover="MouseOverPMCID(32);" onmouseout="MouseOutPMCID(32);">
																							<div class="PermanentDeactivated PMCID_Deactivated_ByChoice" id="PMCID_NotAllowed_32" style="display: none;" "=" ">
																								<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Payment Method Info:', '<p>The payment method is not allowed for the selected service!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																									<div class="PMCID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/pmcid_deactivated.png);"></div>
																								</span>
																							</div>
																							<div class="PMCID_Icon_Selected" id="PMCID_Icon_Selected_32"></div>
																							<div class="PMCID_Icon_Over" id="PMCID_Icon_Over_32"></div>
																							<div class="PMCID_QuicknessIndicator">
																								<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Usual Process Time:', '<p>It usually takes <b>several hours</b> until you receive the ordered product if you use this payment method.</p><p>However, in some cases, the process time <b>can also take several days!</b></p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																									<div class="PMCID_QuicknessIndicatorLabelContainer">
																										<div class="PMCID_QuicknessIndicatorLabel">Usual Process Time:<br>fast</div>
																									</div>
																								</span>
																							</div>
																							<span style="position: absolute; left: 125px; top: 53px; z-index: 99;"></span>
																							<img class="PMCID_CP_Icon" src="{{IMAGE_PATH}}/payment/paymentmethodcategory32.gif">
																							<div class="PMCID_CP_Label">
																								<input type="radio" id="PMCID_32" name="payment_method" value="pagseguro" style="display: none;">
																								<label for="PMCID_32">PagSeguro
																								</label>
																							</div>
																						</div>
																					</div>
																					<div class="PMCID_Icon_Container" id="PMCID_Icon_Container_145">
																						<div class="PMCID_Icon" id="PMCID_Icon_145" style="background-image:url({{IMAGE_PATH}}//payment/pmcid_icon_normal.png);" onclick="ChangePMC(145);" onmouseover="MouseOverPMCID(145);" onmouseout="MouseOutPMCID(145);">
																							<div class="PermanentDeactivated PMCID_Deactivated_ByChoice" id="PMCID_NotAllowed_145" style="display: none;" "=" ">
																								<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Payment Method Info:', '<p>The payment method is not allowed for the selected service!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																									<div class="PMCID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/pmcid_deactivated.png);"></div>
																								</span>
																							</div>
																							<div class="PMCID_Icon_Selected" id="PMCID_Icon_Selected_145"></div>
																							<div class="PMCID_Icon_Over" id="PMCID_Icon_Over_145"></div>
																							<div class="PMCID_QuicknessIndicator">
																								<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Usual Process Time:', '<p>It usually takes <b>several minutes</b> until you receive the ordered product if you use this payment method.</p><p>However, in some cases, the process time <b>can also take several days!</b></p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																									<div class="PMCID_QuicknessIndicatorLabelContainer">
																										<div class="PMCID_QuicknessIndicatorLabel">Usual Process Time:<br>very fast</div>
																									</div>
																								</span>
																							</div>
																							<span style="position: absolute; left: 125px; top: 53px; z-index: 99;"></span>
																							<img class="PMCID_CP_Icon" src="{{IMAGE_PATH}}/payment/paymentmethodcategory145.gif">
																							<div class="PMCID_CP_Label">
																								<input type="radio" id="PMCID_145" name="payment_method" value="pix" style="display: none;">
																								<label for="PMCID_145">PIX
																								</label>
																							</div>
																						</div>
																					</div>
																					<div class="PMCID_Icon_Container" id="PMCID_Icon_Container_144">
																						<div class="PMCID_Icon" id="PMCID_Icon_144" style="background-image:url({{IMAGE_PATH}}//payment/pmcid_icon_normal.png);" onclick="ChangePMC(144);" onmouseover="MouseOverPMCID(144);" onmouseout="MouseOutPMCID(144);">
																							<div class="PermanentDeactivated PMCID_Deactivated_ByChoice" id="PMCID_NotAllowed_144" style="display: none;" "=" ">
																								<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Payment Method Info:', '<p>The payment method is not allowed for the selected service!</p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																									<div class="PMCID_Deactivated" style="background-image: url({{IMAGE_PATH}}/payment/pmcid_deactivated.png);"></div>
																								</span>
																							</div>
																							<div class="PMCID_Icon_Selected" id="PMCID_Icon_Selected_144"></div>
																							<div class="PMCID_Icon_Over" id="PMCID_Icon_Over_144"></div>
																							<div class="PMCID_QuicknessIndicator">
																								<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Usual Process Time:', '<p>It usually takes <b>several minutes</b> until you receive the ordered product if you use this payment method.</p><p>However, in some cases, the process time <b>can also take several days!</b></p>', '');" onmouseout="$('#HelperDivContainer').hide();">
																									<div class="PMCID_QuicknessIndicatorLabelContainer">
																										<div class="PMCID_QuicknessIndicatorLabel">Usual Process Time:<br>very fast</div>
																									</div>
																								</span>
																							</div>
																							<span style="position: absolute; left: 125px; top: 53px; z-index: 99;"></span>
																							<img class="PMCID_CP_Icon" src="{{IMAGE_PATH}}/payment/paymentmethodcategory144.gif">
																							<div class="PMCID_CP_Label">
																								<input type="radio" id="PMCID_144" name="payment_method" value="mercadopago" style="display: none;">
																								<label for="PMCID_144">Mercado Pago
																								</label>
																							</div>
																						</div>
																					</div>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="SubmitButtonRow" style="display: flex; justify-content: center;">
						<div class="LeftButton" style="padding: 10px;">							
							<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green.gif)">
								<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green_over.gif);"></div><input class="BigButtonText" type="submit" value="Next"></div>
							</div>
						</div>
						<div class="RightButton" style="padding: 10px;">
							<a href="{{URL}}/" style="padding:0px;margin:0px;">
								<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_red.gif)">
									<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_red_over.gif);"></div><input class="BigButtonText" type="button" value="Cancel"></div>
								</div>
							</a>
						</div>
					</div>
					<script type="text/javascript">
						$('#SelectCountrySubmitButton').hide();
$('.PMCID_CP_Label > input').hide();
$('.ServiceIDLabel > input').hide();
ChangeService(1, 12);
					</script>
				</form>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
