<div id="houses" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-houses.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				{% if houseslist.current.page is empty %}
					Here you can see the list of all available houses, flats or guildhalls. Please select the game world of your choice. Click on any view button to get more information about a house or adjust the search criteria and start a new search. See the manual for a detailed description about renting houses.
					<br><br><br>
					{% if houseslist.current.world %}
						<div class="TableContainer">
							<div class="CaptionContainer">
								<div class="CaptionInnerContainer">
									<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
									<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
									<div class="Text">Available
										{{ houseslist.current.title }}
										in
										{{ houseslist.current.town }}
										on
										{{ houseslist.current.world }}</div>
									<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
									<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
									<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								</div>
							</div>
							<table class="Table3" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td>
											<div class="InnerTableContainer">
												<table style="width:100%;">
													<tbody>
														<tr>
															<td>
																<div class="TableContentContainer">
																	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																		<tbody>
																			<tr class="LabelH">
																				<td style="width: 40%;">
																					<b>Name</b>
																				</td>
																				<td style="width: 10%;">
																					<b>Size</b>
																				</td>
																				<td style="width: 10%;">
																					<b>Rent</b>
																				</td>
																				<td style="width: 40%;">
																					<b>Status</b>
																				</td>
																				<td></td>
																			</tr>
																			{% for house in houseslist.houses %}
																				{% set i = i + 1 %}
																				<tr bgcolor="{{ getStyle(i) }}">
																					<td width="40%">
																						<nobr>{{ house.name }}</nobr>
																					</td>
																					<td width="10%">
																						<nobr>{{ house.size }} sqm</nobr>
																					</td>
																					<td width="10%">
																						<nobr>{{ house.rent }} gold</nobr>
																					</td>
																					<td width="40%">
																						{% if house.owner != 0 %}
																						<nobr>rented</nobr>
																						{% else %}
																						{% if house.last_bid == 0 %}
																						<nobr>auctioned (no bid yet)</nobr>
																						{% endif %}
																						{% if house.last_bid != 0 %}
																						<nobr>auctioned ({{ house.last_bid }} gold; {{ house.bid_date }} days left)</nobr>
																						{% endif %}
																						{% endif %}
																					</td>
																					<td>
																					<a href="{{URL}}/community/houses/{{ house.house_id }}/view">
																						{% set button_name = 'View' %}
																						{% include "blue_button.html.twig" %}
																					</a>
																					</td>
																				</tr>
																			{% endfor %}
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
					{% endif %}
					<form action="{{URL}}/community/houses" method="get">
						<div class="TableContainer">
							<div class="CaptionContainer">
								<div class="CaptionInnerContainer">
									<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
									<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
									<div class="Text">House Search</div>
									<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
									<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
									<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
									<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								</div>
							</div>
							<table class="Table3" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td>
											<div class="InnerTableContainer">
												<table style="width:100%;">
													<tbody>
														<tr>
															<td>
																<div class="TableContentContainer">
																	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																		<tbody>
																			<tr>
																				<td>
																					<div class="HousesWorldSelection">
																						<div class="WorldSelectionLabel">World</div>
																						<div class="WorldSelectionDropDown">
																							<select size="1" name="world" style="width:165px;">
																								<option value="" selected="">(choose world)</option>
																								{% for world in worlds %}
																									<option {% if houseslist.current.world == world.name %} selected="" {% endif %} value="{{ world.name }}">{{ world.name }}</option>
																								{% endfor %}
																							</select>
																						</div>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
														<tr>
															<td>
																<div class="TableContentContainer">
																	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																		<tbody>
																			<tr class="LabelH">
																				<td style="width: 25%;">
																					<b>Town</b>
																				</td>
																				<td style="width: 25%;">
																					<b>Status</b>
																				</td>
																				<td style="width: 25%;">
																					<b>Order</b>
																				</td>
																			</tr>
																			<tr>
																				<td valign="top">
																					<label><input type="radio" {% if houseslist.current.town_id == 5 %} checked="" {% endif %} name="town" value="5">Ab'Dendriel</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 10 %} checked="" {% endif %} name="town" value="10">Ankrahmun</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 6 %} checked="" {% endif %} name="town" value="6">Carlin</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 13 %} checked="" {% endif %} name="town" value="13">Darashia</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 11 %} checked="" {% endif %} name="town" value="11">Edron</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 12 %} checked="" {% endif %} name="town" value="12">Farmine</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 18 %} checked="" {% endif %} name="town" value="18">Gray Beach</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 22 %} checked="" {% endif %} name="town" value="22">Issavi</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 7 %} checked="" {% endif %} name="town" value="7">Kazordoon</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 14 %} checked="" {% endif %} name="town" value="14">Liberty Bay</label><br>
																					<!-- <label><input type="radio" {% if houseslist.current.town_id == 5 %} checked="" {% endif %} name="town" value="5">Moonfall</label><br> -->
																					<label><input type="radio" {% if houseslist.current.town_id == 15 %} checked="" {% endif %} name="town" value="15">Port Hope</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 20 %} checked="" {% endif %} name="town" value="20">Rathleton</label><br>
																					<!-- <label><input type="radio" {% if houseslist.current.town_id == 5 %} checked="" {% endif %} name="town" value="5">Silvertides</label><br> -->
																					<label><input type="radio" {% if houseslist.current.town_id == 16 %} checked="" {% endif %} name="town" value="16">Svargrond</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 8 %} checked="" {% endif %} name="town" value="8">Thais</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 9 %} checked="" {% endif %} name="town" value="9">Venore</label><br>
																					<label><input type="radio" {% if houseslist.current.town_id == 17 %} checked="" {% endif %} name="town" value="17">Yalahar</label><br>
																				</td>
																				<td valign="top">
																					<label><input type="radio" name="state" value="all" {% if houseslist.current.state == 'all' %} checked="" {% endif %}>all states</label><br>
																					<label><input type="radio" name="state" value="auctioned" {% if houseslist.current.state == 'auctioned' %} checked="" {% endif %}>auctioned</label><br>
																					<label><input type="radio" name="state" value="rented" {% if houseslist.current.state == 'rented' %} checked="" {% endif %}>rented</label><br>
																					<div style="padding-top: 5px; margin-top: 75px; border-top: 1px solid #FFF2db;">
																						<label><input type="radio" name="type" value="houses" {% if houseslist.current.type == 'houses' %} checked="" {% endif %}>houses and flats</label><br>
																						<label><input type="radio" name="type" value="guildhalls" {% if houseslist.current.type == 'guildhalls' %} checked="" {% endif %}>guildhalls</label><br>
																					</div>
																				</td>
																				<td valign="top">
																					<label><input type="radio" name="order" value="name" {% if houseslist.current.order == 'name' %} checked="" {% endif %}>by name</label><br>
																					<label><input type="radio" name="order" value="size" {% if houseslist.current.order == 'size' %} checked="" {% endif %}>by size</label><br>
																					<label><input type="radio" name="order" value="rent" {% if houseslist.current.order == 'rent' %} checked="" {% endif %}>by rent</label><br>
																					<label><input type="radio" name="order" value="bid" {% if houseslist.current.order == 'bid' %} checked="" {% endif %}>by bid</label><br>
																					<label><input type="radio" name="order" value="end" {% if houseslist.current.order == 'end' %} checked="" {% endif %}>by auction end</label><br>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div><br><center>
							<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
								<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Submit"></div>
							</div>
						</center>
					</form>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
