<div id="houses" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-houses.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				<table border="0" cellspacing="1" cellpadding="4">
					<tbody>
						<tr>
							<td valign="top"><img src="{{IMAGE_PATH}}/houses/house_40105.png" width="150" height="150"></td>
							<td valign="top">
								<b>Underwood 5</b><br>This house can have up to 3 beds.
								<br><br>The house has a size of
								<b>26 square meters</b>. The monthly rent is
								<b>80k gold</b>
								and will be debited to the bank account on
								<b>Antica</b>.<br><br>The house has been rented by
								<a href="{{URL}}/community/characters/NOME">Suhenux</a>. She has paid the rent until
								<b>Aug&nbsp;21&nbsp;2022, 10:05:18&nbsp;CEST</b>.</td>
						</tr>
					</tbody>
				</table>
				<br>
				<div class="SubmitButtonRow" style="display: flex; justify-content: center;">
					<div class="LeftButton" style="width: 25%;">
						<form action="{{URL}}/community/houses/NOME/moveout" method="post" style="padding:0px;margin:0px;">
						<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
								<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Move Out"></div>
							</div>
						</form>
					</div>
					<div class="LeftButton" style="width: 25%;">
						<form action="{{URL}}/community/houses/NOME/transfer" method="post" style="padding:0px;margin:0px;">
						<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
								<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Transfer"></div>
							</div>
						</form>
					</div>
					<div class="LeftButton" style="width: 25%;">
						<a href="{{URL}}/community/houses" style="padding:0px;margin:0px;">
						<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
								<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Back"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
