<div id="houses" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-houses.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
                {% if status is not empty %}
                <div class="TableContainer">
                    <div class="CaptionContainer">
                        <div class="CaptionInnerContainer">
                            <span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
                            <span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
                            <span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
                            <span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
                            <div class="Text">Bid Status</div>
                            <span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
                            <span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
                            <span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
                            <span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
                        </div>
                    </div>
                    <table class="Table3" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="InnerTableContainer" style="max-width: unset;">
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="TableContentContainer">
                                                            <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>{{ status }}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                {% endif %}
                {% if house.last_bid == 0 %}
                The house <b>{{ house.name }}</b> is currently being auctioned. There is no bid so far.
                {% endif %}
                {% if house.last_bid != 0 %}
                The house <b>{{ house.name }}</b> is currently being auctioned.
                The auction will end at <b>{{ house.days_to_end }}</b> (time of daily server save).
                The highest bid so far is <b>{{ house.last_bid }}</b> and has been submitted by <b>{{ house.owner_name }}</b>.
                {% endif %}
                <br><br>
                <form action="{{URL}}/community/houses/{{ house.house_id }}/bid" method="post" style="padding:0px;margin:0px;">
                <div class="TableContainer">
                    <div class="CaptionContainer">
                        <div class="CaptionInnerContainer">
                            <span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
                            <span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
                            <span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
                            <span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
                            <div class="Text">Enter Your Bid</div>
                            <span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
                            <span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
                            <span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
                            <span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
                        </div>
                    </div>
                    <table class="Table3" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="InnerTableContainer" style="max-width: unset;">
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="TableContentContainer">
                                                            <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="LabelH" style="width: 25%;">
                                                                            <b>Your Limit:</b>
                                                                        </td>
                                                                        <td>
                                                                            {% if players is not empty %}
                                                                            <input type="number" name="bid_limit" min="{{ house.last_bid }}" placeholder="{{ house.last_bid }}">
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="LabelH" style="width: 25%;">
                                                                            <b>Your Character:</b>
                                                                        </td>
                                                                        <td>
                                                                            {% if players is not empty %}
                                                                            <select name="bid_player">
                                                                                {% for player in players %}
                                                                                <option value="{{ player.id }}">{{ player.name }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                            {% endif %}
                                                                            {% if players is empty %}
                                                                            No active characters for house auction.
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				<br>
                Bids increase in steps of 1 gold. You will automatically outbid the current bid by 1 gold until your specified limit is reached.
                <br><br>
                {% if house.last_bid != 0 %}
                When the auction ends at <b>{{ house.bid_end }}</b> (time of daily server save), the <b>winning bid plus the rent of {{ house.rent }} gold</b> for the first month will be debited to your bank account on <b>{{ house.world.name }}</b>.
				{% endif %}
                {% if house.last_bid == 0 %}
                When the auction ends, the <b>winning bid plus the rent of {{ house.rent }} gold</b> for the first month will be debited to your bank account on <b>{{ house.world.name }}</b>.
                {% endif %}
                <br><br>
                <div class="SubmitButtonRow" style="display: flex; justify-content: center;">
                    {% if players is not empty %}
                    <div class="LeftButton" style="width: 25%;">
                        <div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
                            <div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Submit"></div>
                        </div>
                    </div>
                    {% endif %}
					<div class="LeftButton" style="width: 25%;">
						<a href="{{URL}}/community/houses/{{ house.house_id }}/view" style="padding:0px;margin:0px;">
						<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
								<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="button" value="Back"></div>
							</div>
						</a>
					</div>
				</div>
                </form>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
