<div id="downloadclient" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-downloadclient.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				<div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Download Client</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table5" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="TableScrollbarWrapper" style="width: unset;">
										<div class="TableScrollbarContainer"></div>
									</div>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;">
											<tbody>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr>
																		<td style="text-align: center;">
																			<h1>Download Client</h1>
																			<a href="{{ download_link }}" target="new"><img style="width: 90; height: 90px; border: 0px;" src="{{IMAGE_PATH}}/account/download_windows.gif"></a><br>
                                                                            <a href="{{ download_link }}" target="new" style="font-size: 12pt;">Download Tibia 12<br>Windows Client</a>
																			<p>[<span class="HelpLink" style="width: 18px; height: 18px;">
                                                                            <span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Requirements:', '<p><b>Minimum:</b><ul><li>OS: Windows 7</li><li>Visual C++ Redistributable for Visual Studio 2015</li><li>Processor: 1.5 GHz Pentium 4 or equivalent with SSE2 instruction set support</li><li>Memory: 1GB RAM</li><li>Graphics: 128MB; if DirectX 9c or OpenGL 2.1 are not supported, only software renderer mode is available (no light effects)</li><li>Hard Drive: min. 150 MB</li></ul><b>Recommended:</b><ul><li>OS: System: Windows 7 or newer</li><li>Visual C++ Redistributable for Visual Studio 2015</li><li>Processor: 2.5 GHz Intel Core i3 processor or equivalent</li><li>Memory: 4GB RAM</li><li>Graphics: 512MB; OpenGL 2.1 support</li><li>Hard Drive: min. 150 MB</li></ul></p>', '');" onmouseout="$('#HelperDivContainer').hide();">system requirements</span>
                                                                            </span>]</p>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr>
																		<td class="LabelV">Disclaimer</td>
																	</tr>
																	<tr>
																		<td>The software and any related documentation is provided "as is" without warranty of any kind. The entire risk arising out of use of the software remains with you. In no event shall CipSoft GmbH be liable for any damages to your computer or loss of data.</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
