<div id="worlds" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-worlds.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				
					<div class="TableContainer">
						<div class="CaptionContainer">
							<div class="CaptionInnerContainer">
								<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<div class="Text">World Selection</div>
								<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							</div>
						</div>
						<table class="Table1" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>
										<div class="InnerTableContainer" style="max-width: unset;">
											<table style="width:100%;">
												<tbody>
												<form action="{{URL}}/online" method="get">
													<tr>
														<td>
															<div class="ThreeColumnsForm">
																<div class="LabelV120 ThreeColumnsFormCell">World Name:</div>
																<div class="ThreeColumnsFormCell ThreeColumnsFormInputCell">
																	<select size="1" name="world" style="width:165px;">
																	{% for world in allworlds %}
																		<option value="{{ world.id }}">{{ world.name }}</option>
																	{% endfor %}
																	</select>
																</div>
																<div class="ThreeColumnsFormButton ThreeColumnsFormCell">
																	<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
																		<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Submit"></div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</form>
												</tbody>
											</table>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				<br><div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">World Information</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table1" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;">
											<tbody>
												<tr>
													<td class="LabelV200">Status:</td>
													<td>
														<div class="ServerInformationIconContainer_Worlds" style="top: 40px;"><img class="ServerInformationIcon" src="{{IMAGE_PATH}}{{ world.location_icon }}" alt="Server Location"></div>
														<div class="ServerInformationIconContainer_Worlds" style="top: 100px;"><img class="ServerInformationIcon" src="{{IMAGE_PATH}}{{ world.pvp_type_icon }}" alt="Server PVP Type"></div>{{ server_status }}</td>
												</tr>
												<tr>
													<td class="LabelV200">Players Online:</td>
													<td>{{ total_online }}</td>
												</tr>
												<tr>
													<td class="LabelV200">Online Record:</td>
													<td>{{ world.record }} players (on {{ world.record_date }})</td>
												</tr>
												<tr>
													<td class="LabelV200">Creation Date:</td>
													<td>{{ world.creation }}</td>
												</tr>
												<tr>
													<td class="LabelV200">Location:</td>
													<td>{{ world.location }}</td>
												</tr>
												<tr>
													<td class="LabelV200">PvP Type:</td>
													<td>{{ world.pvp_type }}</td>
												</tr>
												<tr>
													<td class="LabelV200">BattlEye Status:</td>
													<td>{{ world.battle_eye }}</td>
												</tr>
												<tr>
													<td class="LabelV200">Game World Type:</td>
													<td>{{ world.world_type }}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div><br><div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Players Online</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table2" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;">
											<tbody>
												<tr class="LabelH">
													<td style="text-align:left;width:90%">Name</small>
														<img class="sortarrow" src="{{IMAGE_PATH}}/global/content/order_desc.gif"></td>
													<td>Level</small>
														<img class="sortarrow" src="{{IMAGE_PATH}}/global/general/blank.gif"></td>
													<td>Vocation</small>
														<img class="sortarrow" src="{{IMAGE_PATH}}/global/general/blank.gif"></td>
												</tr>
												{% for player in players %}
												<tr class="Even" style="text-align:right;">
													<td style="width:70%;text-align:left;">
														<a href="{{URL}}/characters/{{ player.name }}">{{ player.name }}</a>
														{% if player.skull is not empty %}
														<img src="{{IMAGE_PATH}}/{{ player.skull }}" alt="Skull" title="Skull">
														{% endif %}
													</td>
													<td style="width:10%;">{{ player.level }}</td>
													<td style="width:20%;">{{ player.vocation }}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
					<div class="TableContainer">
						<div class="CaptionContainer">
							<div class="CaptionInnerContainer">
								<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<div class="Text">Search Character</div>
								<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							</div>
						</div>
						<table class="Table1" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>
										<div class="InnerTableContainer" style="max-width: unset;">
											<table style="width:100%;">
												<tbody>
												<form action="{{URL}}/community/characters" method="get">
													<tr>
														<td>
															<div class="ThreeColumnsForm">
																<div class="LabelV120 ThreeColumnsFormCell">Character Name:</div>
																<div class="ThreeColumnsFormCell ThreeColumnsFormInputCell">
																<input type="text" style="width: 100%;" name="name" maxlength="29">
																</div>
																<div class="ThreeColumnsFormButton ThreeColumnsFormCell">
																	<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
																		<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div><input class="BigButtonText" type="submit" value="Submit"></div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												</form>
												</tbody>
											</table>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				<br>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
