<div id="premiumfeatures" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-premiumfeatures.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				<h2>Why Should You Make Your Account Premium?</h2>
				<p>Tibia is free, and players are welcome to play free of charge for as long as they like. However, if you enjoy Tibia, you may consider to take the game further by buying Premium Time. As a Premium player you will have additional abilities and advantages inside and outside the game. Buy Premium Time today to make Tibia even more fun!</p>
				<center>
					<a href="{{URL}}/payment" style="padding:0px;margin:0px;">
						<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green.gif)">
							<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image: url(&quot;{{IMAGE_PATH}}/global/buttons/button_green_over.gif&quot;); visibility: hidden;"></div>
								<input class="BigButtonText" type="submit" value="Get Premium"></div>
						</div>
					</a>
				</center>
				<p style="margin-top: 20px; margin-bottom: 20px;">The following benefits are available to Premium players:</p>
				<div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Tibia Features</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table3" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="TableScrollbarWrapper" style="width: unset;">
										<div class="TableScrollbarContainer"></div>
									</div>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;" id="PremiumFeaturesBox">
											<tbody>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr class="LabelV">
																		<th>Benefit</th>
																		<th style="text-align: center;">Premium Details</th>
																		<th style="text-align: center;">Free</th>
																		<th style="text-align: center;">Premium</th>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">XP boost</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), '50% XP boost for 3 hours every day', 'How about gaining 50% more XP when hunting? As a Premium player, you can enjoy this valuable boost during your first three hours of stamina.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Stamina.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">0</td>
																		<td style="text-align: center;">+50%</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Offline training</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Train your skills while offline', 'Offline training is a real time saver, exclusively available to Premium players! Vital actions of your character are determined by your skills so hone them even while you are offline!', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Trainingstatues.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Refined quick looting</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Customise quick looting to your liking', 'Refine the Loot All option by excluding items or set up a list to only loot specific items. Premium status also allows you to loot a single item with a simple click and to assign categories to your containers to automatically sort looted items.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-QuickLoot.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Areas</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Access Premium areas', 'Discover new mysterious places, visit distant continents full of exotic creatures and explore the whole world of Tibia. Exciting adventures await you!', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-NewAreas.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">5 areas and cities</td>
																		<td style="text-align: center;">17+ areas and cities</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Efficient supply stash</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Enjoy the supply stash to its full extent', 'As a Premium player, you can enjoy all benefits of the supply stash. Stow an unlimited number of resources and creature products neatly, quickly and efficiently instead of just being able to retrieve them from the stash.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-SupplyStash.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">retrieve</td>
																		<td style="text-align: center;">stow and retrieve</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Spells</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Cast all powerful spells', 'Harness the full magical potential of your vocation! Cast powerful attack, support, and healing spells, and summon mighty creatures to vanquish the enemy.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Spells.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">55</td>
																		<td style="text-align: center;">139+</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Instant travelling</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Use instant travel system', 'No matter where you are heading, travel via the Tibian transport system and you will always be there in a jiffy! Boats, magic carpets, steamships, astral bridges, elemental shrines - travelling has never been that convenient.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Travel.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Outfits</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Wear Premium outfits', 'Dress up and wear one of the popular outfits that are exclusively available to Premium players.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Outfit.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">4 + 1 unlockable</td>
																		<td style="text-align: center;">32+</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Mounts</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Tame mounts to travel faster', 'Tame majestic wild creatures and get yourself faithful travel companions. They will carry you swiftly to your destination. Impress others by riding into battle on rare mounts!', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Mount.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">3 rentable</td>
																		<td style="text-align: center;">41+</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Death penalty</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Lose 30% less on death with a promotion', 'Death in Tibia hurts! Lose 30% less XP and skills on death by promoting your character. Premium status allows you to enjoy this and all other benefits of a promotion.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Death.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">0% reduction</td>
																		<td style="text-align: center;">30% reduction</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Market offers</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Create Market offers', 'Create Market offers to buy items you fancy or to sell your loot in a convenient way.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Market.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">House ownership</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Own and decorate houses', 'Enjoy the exclusive ability to rent a house where you can regenerate and also train your skills while sleeping in your bed. Make yourself at home and choose from the vast assortment of furniture and decorations, put your treasures on display, and invite your friends over.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-House.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img style="border:0px;" src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png">
																			900+ houses</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">VIP list entries</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Add up to 100 players to your VIP list', 'Add up to 100 characters instead of only 20 to your VIP list to find out which of your friends or enemies are online.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-VIP.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">20</td>
																		<td style="text-align: center;">100</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Depot space</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Store up to 15,000 items in your depot', 'Store up to 15,000 items instead of only 2,000 in your depot chest which you can access from every city depot!', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Depot.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">2000</td>
																		<td style="text-align: center;">15000</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Private chat channels</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Invite friends to private chats', 'Create your own private chat channel and invite anyone you like to join your chat.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Chat.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Character promotion</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Get stronger with a promotion', 'Promote your character to a superior rank with further advantages such as faster regeneration, reduced death penalty, and special vocation-specific spells.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Promotion.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">VIP groups</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Add groups to organise your VIP list', 'Organise and sort characters on your VIP list into groups. As a Premium player, you can create up to 5 groups in addition to the 3 predefined groups.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-VIPGroups.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">3</td>
																		<td style="text-align: center;">3+5</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Challenging arenas</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Fight in PvP and PvE arenas', 'Fight for fun without death penalty in Tibia\'s arenas! Face other players or stand your ground against waves of monster hordes.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-PvPArena.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Free prey slots</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Use two prey slots for free', 'Benefit of two free prey slots to select monsters from which you gain a bonus when hunting them.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Prey.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">1</td>
																		<td style="text-align: center;">2</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Imbuements</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Imbue items with stronger effects', 'Enhance your equipment with useful temporary effects through intricate and powerful imbuements which are considerably stronger than the basic ones.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Imbuing.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">basic</td>
																		<td style="text-align: center;">basic,<br>
																			intricate,<br>
																			powerful</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Daily rewards</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Get better daily rewards', 'Get better daily rewards and enjoy further useful resting area bonuses such as stamina regeneration, for example.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-DailyReward.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">basic</td>
																		<td style="text-align: center;">extended
																			<br>
																			(more than twice)</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Advanced analytics features</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Use advanced analytics features', 'Optimise your hunting sessions by using advanced analytics features. Premium status also allows you to track more items and quests.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Analytics.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Quests</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Solve exclusive quests for the best rewards', 'Unravel mysteries and face evil masterminds as you solve the abundance of thrilling quests Tibia has to offer. Get your hands on the most precious rewards and rare treasures!', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Quests.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">~ 80</td>
																		<td style="text-align: center;">280+</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Priority login</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Benefit of priority login', 'Especially on new game worlds, the number of players online can quickly get close to a world\'s maximum capacity. As a Premium player, you will have login priority while free accounts have to wait.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Login.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Mighty summons</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Use mighty summons', 'Summon a powerful companion to come to your aid in battle. Each vocation can call a unique creature with special abilities.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Summons.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Guild leadership</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Create and lead powerful guilds', 'You have what it takes to be a leader? Found your own guild, recruit followers and rent one of the impressive guildhalls. Bring like-minded players together under your banner and form strong bonds of friendship and camaraderie.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Guild.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Exclusive outfit addons</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Earn addons to spice up outfits', 'Because basic outfits alone are not dashing enough! Earn addons to make your character stand out and prove your skill as an adventurer.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Addons.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Premium worlds</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Be the first on new game worlds', 'Be among the first to play on new game worlds which can only be accessed with Premium status. In addition, Premia is an old world exclusively reserved for Premium players.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Worlds.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Mana and HP regeneration</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Regenerate faster with a promotion', 'Regenerate your mana and hit points considerably faster. Premium status allows you to enjoy this and all other benefits of a promotion.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Regeneration.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">slow regeneration</td>
																		<td style="text-align: center;">fast regeneration</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Loyalty system</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Get a skill bonus through loyalty', 'Accumulate loyalty points through Premium status to benefit from a skill bonus, earn special titles and rise in the loyalty highscores.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Loyalty.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Trackable items</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Track up to 50 items', 'Keep track of up to 50 items instead of only 5 in the drop tracker. Whenever a creature drops one of your tracked items, you will be notified about it.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-TrackLoot.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">5</td>
																		<td style="text-align: center;">50</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Soul points</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Enhance your soul points with a promotion', 'Raise your soul points to 200 instead of only 100 and regenerate them 8 times faster by promoting your character.&nbsp;Premium status allows you to enjoy this and all other benefits of a promotion.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Soulpoints.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">100, slow regeneration</td>
																		<td style="text-align: center;">200, fast regeneration</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Trackable quests</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Track up to 20 quests', 'Keep track of your progress on up to 20 quests or tasks instead of only 5 in the quest tracker.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-TrackQuests.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">5</td>
																		<td style="text-align: center;">20</td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">More active charms</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Use up to 6 charms at the same time', 'Use charms on up to 6 different Bestiary creatures instead of 2 at the same time to benefit of offensive, defensive or passive bonus effects against them.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Charms.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">2</td>
																		<td style="text-align: center;">6</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Tournaments</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Prove your skills in Tournaments to win great prizes', 'Take part in Tournaments and prove your Tibia skills. In Tournaments all characters start at the same level and try to score as many points as possible in a predefined time span. The better your score, the better your reward.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-Tournament.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Party List</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Watch your party in an exclusive list', 'Open a party list to have all characters that are in your party displayed, no matter where they are in Tibia. If they are no more than 30 fields away from you, you can even see their mana, health points and skulls.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-PartyWidget.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Secondary Battle Lists</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Organise characters and creatures nearby in secondary battle lists', 'As a Premium player, you can open secondary battle lists. They allow you to use the battle list&amp;apos;s sorting features more efficiently. Open an own battle list for each filter you have applied.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-SecondaryBattlelists.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																	<tr class="Even">
																		<td style="font-weight: bold;">Free Hunting Task slots</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Use two Hunting Task slots for free', 'Benefit of two free Hunting Task slots to select monsters and earn special rewards for hunting them down.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-PreyHuntingTask.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;">1</td>
																		<td style="text-align: center;">2</td>
																	</tr>
																	<tr class="Odd">
																		<td style="font-weight: bold;">Team Finder</td>
																		<td style="text-align: center;">
																			<span style="position: relative; top: 3px; margin-left: 5px;">
																				<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Find a team more easily', 'Whenever you are looking for teammates to go on a big hunt or to solve a tricky quest, use the Team Finder to join a team or to assemble an own one.', '');" onmouseout="$('#HelperDivContainer').hide();"><img src="{{IMAGE_PATH}}/premiumfeatures/PremiumIcon-PartyFinder.png"></span>
																			</span>
																		</td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_no.png"></td>
																		<td style="text-align: center;"><img src="{{IMAGE_PATH}}/premiumfeatures/icon_yes.png"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr>
																		<td id="PremiumFeatureListNote">Please note this is not an exhaustive list. Other benefits are sure to follow, but it is also possible that existing ones are changed or even removed in future.</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div><br><h2>Pricing</h2>
				<p style="margin-top: 20px; margin-bottom: 20px;">Best of all, Tibia Premium Time is inexpensive! You can upgrade your account to Premium starting from as little as EUR 6.21 for a month:</p>
				<div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Tibia Premium Time</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table3" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="TableScrollbarWrapper" style="width: unset;">
										<div class="TableScrollbarContainer"></div>
									</div>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;">
											<tbody>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr>
																		<td colspan="3">Tibia Premium Time can only be used for your own account.</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr class="LabelV">
																		<td style="width: 25%;">Duration</td>
																		<td style="width: 25%;">Price
																			<span style="font-weight: normal">(including all taxes)</span>
																		</td>
																		<td></td>
																	</tr>
																	<tr class="Odd">
																		<td>1 month (30 days)</td>
																		<td>EUR 8.90</td>
																		<td>(EUR 8.90 per month)</td>
																	</tr>
																	<tr class="Even">
																		<td>3 months (90 days)</td>
																		<td>EUR 23.95</td>
																		<td>(EUR 7.98 per month)</td>
																	</tr>
																	<tr class="Odd">
																		<td>6 months (180 days)</td>
																		<td>EUR 42.55</td>
																		<td>(EUR 7.09 per month)</td>
																	</tr>
																	<tr class="Even">
																		<td>12 months (360 days)</td>
																		<td>EUR 74.50</td>
																		<td>(EUR 6.21 per month)</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p style="margin-top: 20px; margin-bottom: 20px;">And that is not all, you can also buy Premium Time for Tibia Coins in the
					<a href="https://www.tibia.com/gameguides/?subtopic=manual&amp;section=store">Store</a>
					ingame! As Tibia Coins can also be sold in the Market for Tibia gold, you can purchase them and buy Premium Time or an extra service for your account even if you find yourself unable to pay with real money for Premium Time or Tibia Coins right now. There really is no excuse not to make your account Premium - buy Premium Time or Tibia Coins and enjoy the full Tibia experience today!</p>
				<div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Tibia Coin Packages</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table3" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="TableScrollbarWrapper" style="width: unset;">
										<div class="TableScrollbarContainer"></div>
									</div>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;">
											<tbody>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr>
																		<td colspan="3">Tibia Coins can be used to purchase Premium Time or special products for your own account in the Store, or if transferable, traded via the Market or gifted to other characters.</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="TableContentContainer">
															<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																<tbody>
																	<tr class="LabelV">
																		<td style="width: 25%;">Package</td>
																		<td style="width: 25%;">Price
																			<span style="font-weight: normal">(including all taxes)</span>
																		</td>
																		<td></td>
																	</tr>
																	<tr class="Odd">
																		<td>250 Tibia Coins</td>
																		<td>EUR 9.40</td>
																		<td>(price for 30 days Premium Time in the Store)</td>
																	</tr>
																	<tr class="Even">
																		<td>750 Tibia Coins</td>
																		<td>EUR 26.15</td>
																		<td>(price for 90 days Premium Time in the Store)</td>
																	</tr>
																	<tr class="Odd">
																		<td>1500 Tibia Coins</td>
																		<td>EUR 52.30</td>
																		<td>(price for 180 days Premium Time in the Store)</td>
																	</tr>
																	<tr class="Even">
																		<td>3000 Tibia Coins</td>
																		<td>EUR 104.60</td>
																		<td>(price for 360 days Premium Time in the Store)</td>
																	</tr>
																	<tr class="Odd">
																		<td>4500 Tibia Coins</td>
																		<td>EUR 156.90</td>
																		<td></td>
																	</tr>
																	<tr class="Even">
																		<td>15000 Tibia Coins</td>
																		<td>EUR 523.00</td>
																		<td></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div><br><center>
					<a href="{{URL}}/payment" style="padding:0px;margin:0px;">
						<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green.gif)">
							<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_green_over.gif);"></div>
							<input class="BigButtonText" type="submit" value="Get Premium"></div>
						</div>
					</a>
				</center>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
