<!-- BEGIN: Content-->
<div class="app-content content ">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-2">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-start mb-0">Home</h2>
						<div class="breadcrumb-wrapper">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active">Home</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body">
			<section id="">
				<div class="row match-height">
					<!-- Medal Card -->
					<!--
					<div class="col-xl-4 col-md-6 col-12">
						<div class="card card-congratulation-medal">
							<div class="card-body">
								<h5>Congratulations 🎉 John!</h5>
								<p class="card-text font-small-3">You have won gold medal</p>
								<h3 class="mb-75 mt-2 pt-50">
									<a href="#">$48.9k</a>
								</h3>
								<button type="button" class="btn btn-primary waves-effect waves-float waves-light">View Sales</button>
								<img src="{{ URL }}/resources/canary/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic">
							</div>
						</div>
					</div>
					-->
					<!--/ Medal Card -->

					<div class="col-xl-4 col-md-6 col-12">
						<div class="card card-statistics">
							<div class="card-header">
								<h4 class="card-title">Today's boosted</h4>
							</div>
							<div class="card-body statistics-body">
								<div class="row">
									<div class="col-xl-6 col-sm-6 col-12 mb-2 mb-xl-0">
										<div class="d-flex flex-row">
											<div class="avatar-wrapper">
												<div class="avatar me-1">
													<img src="{{ boosted_creature.image_url }}" alt="Avatar" height="55" width="55" style="left: -10px; bottom: 10px; position: inherit; border-radius: 0;">
												</div>
											</div>
											<div class="my-auto">
												<p class="card-text font-small-3 mb-0">Creature</p>
												<h5 class="fw-bolder mb-0">{{ boosted_creature.boostname }}</h5>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-sm-6 col-12 mb-2 mb-xl-0">
										<div class="d-flex flex-row">
											<div class="avatar-wrapper">
												<div class="avatar me-1">
													<img src="{{ boosted_boss.image_url }}" alt="Avatar" height="55" width="55" style="left: -10px; bottom: 10px; position: inherit; border-radius: 0;">
												</div>
											</div>
											<div class="my-auto">
												<p class="card-text font-small-3 mb-0">Boss</p>
												<h5 class="fw-bolder mb-0">{{ boosted_boss.boostname }}</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Statistics Card -->
					<div class="col-xl-8 col-md-6 col-12">
						<div class="card card-statistics">
							<div class="card-header">
								<h4 class="card-title">Statistics</h4>
							</div>
							<div class="card-body statistics-body">
								<div class="row">
									<div class="col-xl-2 col-sm-6 col-12 mb-2 mb-xl-0">
										<div class="d-flex flex-row">
											<div class="avatar bg-light-primary me-2">
												<div class="avatar-content">
													<i data-feather="shield" class="feather feather-box avatar-icon"></i>
												</div>
											</div>
											<div class="my-auto">
												<p class="card-text font-small-3 mb-0">Guilds</p>
												<h4 class="fw-bolder mb-0">{{ total_guilds }}</h4>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-sm-6 col-12 mb-2 mb-xl-0">
										<div class="d-flex flex-row">
											<div class="avatar bg-light-info me-2">
												<div class="avatar-content">
													<i data-feather="home" class="feather feather-box avatar-icon"></i>
												</div>
											</div>
											<div class="my-auto">
												<p class="card-text font-small-3 mb-0">Houses</p>
												<h4 class="fw-bolder mb-0">{{ total_houses }}</h4>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
										<div class="d-flex flex-row">
											<div class="avatar bg-light-danger me-2">
												<div class="avatar-content">
													<i data-feather="dollar-sign" class="feather feather-box avatar-icon"></i>
												</div>
											</div>
											<div class="my-auto">
												<p class="card-text font-small-3 mb-0">Market Offers</p>
												<h4 class="fw-bolder mb-0">{{ total_marketoffers }}</h4>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-sm-6 col-12">
										<div class="d-flex flex-row">
											<div class="avatar bg-light-success me-2">
												<div class="avatar-content">
													<i data-feather="user" class="feather feather-box avatar-icon"></i>
												</div>
											</div>
											<div class="my-auto">
												<p class="card-text font-small-3 mb-0">Accounts</p>
												<h4 class="fw-bolder mb-0">{{ total_accounts }}</h4>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-sm-6 col-12">
										<div class="d-flex flex-row">
											<div class="avatar bg-light-success me-2">
												<div class="avatar-content">
													<i data-feather="users" class="feather feather-box avatar-icon"></i>
												</div>
											</div>
											<div class="my-auto">
												<p class="card-text font-small-3 mb-0">Players</p>
												<h4 class="fw-bolder mb-0">{{ total_players }}</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ Statistics Card -->
				</div>
			</section>
		</div>
	</div>
</div>
<!-- END: Content-->
