<div id="guilds" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div>
	<img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-guilds.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				{% if isleader == true %}
					<br>
					<div class="TableContainer">
						<div class="CaptionContainer">
							<div class="CaptionInnerContainer">
								<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<div class="Text">Declarations of War</div>
								<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
								<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
								<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							</div>
						</div>
						<table class="Table2" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>
										<div class="TableScrollbarWrapper" style="width: unset;">
											<div class="TableScrollbarContainer"></div>
										</div>
										<div class="InnerTableContainer" style="max-width: unset;">
											<table style="width:100%;">
												<tbody>
													{% if wars is empty %}
														<tr>
															<td>The guild {{ guild.name }} has currently no open war declarations.</td>
														</tr>
													{% endif %}
													{% if wars is not empty %}
														<tr>
															<td>
																<div class="TableContentContainer">
																	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																		<tbody>
																			<tr class="LabelH">
																				<td>Guild</td>
																				<td>Price</td>
																				<td>Frags</td>
																				<td>Status</td>
																				<td>Started</td>
																				<td>Ended</td>
																				<td>Action</td>
																			</tr>
																			{% for war in wars %}
																				{% set i = i + 1 %}
																				<tr class="{{ getStyleCss(i) }}">
																					<td>{{ war.name }}</td>
																					<td>{{ war.price }} gold coin</td>
																					<td>{{ war.frags }}</td>
																					{% if war.status == 2 %}
																					<td>Open</td>
																					{% endif %}
																					<td>{{ war.started }}</td>
																					<td>{{ war.ended }}</td>
																					{% if war.guild1 == guild.id %}
																					<td>{% if war.status == 2 %}<a href="{{ URL }}/community/guilds/{{ guild.name }}/guildwars/{{ war.id }}/cancel">[ Cancel ]</a>{% endif %}</td>
																					{% endif %}
																					{% if war.guild2 == guild.id %}
																					<td>{% if war.status == 2 %}<a href="{{ URL }}/community/guilds/{{ guild.name }}/guildwars/{{ war.id }}/accept">[ Accept ]</a><br><a href="{{ URL }}/community/guilds/{{ guild.name }}/guildwars/{{ war.id }}/reject">[ Reject ]</a>{% endif %}</td>
																					{% endif %}
																				</tr>
																			{% endfor %}
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
													{% endif %}
												</tbody>
											</table>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<center>
						<a href="{{URL}}/community/guilds/{{ guild.name }}/declarewar" style="padding:0px;margin:0px;">
							<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
								<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div>
									<input class="BigButtonText" type="submit" value="Declare War"></div>
							</div>
						</a>
					</center>
				{% endif %}
				<br>
				<div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Guild Wars</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table5" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="TableScrollbarWrapper" style="width: unset;">
										<div class="TableScrollbarContainer"></div>
									</div>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;">
											<tbody>
												{% if current_wars is empty %}
												<tr>
													<td>The guild {{ guild.name }} is currently not involved in a guild war.</td>
												</tr>
												{% endif %}
												{% if current_wars is not empty %}
													<tr>
														<td>
															<div class="TableContentContainer">
																<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																	<tbody>
																		<tr class="LabelH">
																			<td>Guild</td>
																			<td>Kills</td>
																			<td>Guild</td>
																			<td>Kills</td>
																			<td>Final Frags</td>
																		</tr>
																		{% for current_war in current_wars %}
																			{% set i = i + 1 %}
																			{% if current_war.status == 1 %}
																			<tr class="{{ getStyleCss(i) }}">
																				<td>{{ current_war.name1 }}</td>
																				<td>{{ current_war.kills1 }}</td>
																				<td>{{ current_war.name2 }}</td>
																				<td>{{ current_war.kills2 }}</td>
																				<td>{{ current_war.frags }}</td>
																			</tr>
																			{% endif %}
																		{% endfor %}
																	</tbody>
																</table>
															</div>
														</td>
													</tr>
												{% endif %}
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Guild War History</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table5" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="TableScrollbarWrapper" style="width: unset;">
										<div class="TableScrollbarContainer"></div>
									</div>
									<div class="InnerTableContainer" style="max-width: unset;">
										<table style="width:100%;">
											<tbody>
												{% if history_wars is empty %}
												<tr>
													<td>The guild {{ guild.name }} has never participated in a guild war.</td>
												</tr>
												{% endif %}
												{% if history_wars is not empty %}
													<tr>
														<td>
															<div class="TableContentContainer">
																<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
																	<tbody>
																		<tr class="LabelH">
																			<td>Guild</td>
																			<td>Kills</td>
																			<td>Guild</td>
																			<td>Kills</td>
																			<td>Final Frags</td>
																		</tr>
																		{% for history_war in history_wars %}
																			{% set i = i + 1 %}
																			<tr class="{{ getStyleCss(i) }}">
																				<td>{{ history_war.name1 }}</td>
																				<td>{{ history_war.kills1 }}</td>
																				<td>{{ history_war.name2 }}</td>
																				<td>{{ history_war.kills2 }}</td>
																				<td>{{ history_war.frags }}</td>
																			</tr>
																		{% endfor %}
																	</tbody>
																</table>
															</div>
														</td>
													</tr>
												{% endif %}
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<center>
					<a href="{{URL}}/community/guilds/{{ guild.name }}/view" style="padding:0px;margin:0px;">
						<div class="BigButton" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue.gif)">
							<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image:url({{IMAGE_PATH}}/global/buttons/button_blue_over.gif);"></div>
								<input class="BigButtonText" type="submit" value="Back"></div>
						</div>
					</a>
				</center>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
