<div class="app-content content ">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-1">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-start mb-0">Achievements</h2>
						<div class="breadcrumb-wrapper">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{{ URL }}/admin">Home</a>
								</li>
								<li class="breadcrumb-item active">Achievements</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12 col-sm-12">
				{{ status|raw }}
			</div>
			<div class="col-12 col-md-12 col-lg-12 col-sm-12">
				<div class="card mb-1">
					<div class="card-body">
						<div class="border-bottom mb-1">
							<h4 class="card-title">Create Achievement</h4>
						</div>
						<form action="{{URL}}/admin/achievements" method="post" class="form form-vertical">
						<div class="row">
							<div class="col-md-12 col-lg-5">
								<label class="form-label" for="achievements_name">Name</label>
								<input type="text" name="achievements_name" id="achievements_name" class="form-control mb-1">
							</div>
							<div class="col-md-12 col-lg-2">
								<label class="form-label" for="achievements_grade">Grade</label>
								<select name="achievements_grade" id="achievements_grade" class="form-select">
									<option value="1">Grade 01</option>
									<option value="2">Grade 02</option>
									<option value="3">Grade 03</option>
									<option value="4">Grade 04</option>
								</select>
							</div>
							<div class="col-md-12 col-lg-2">
								<label class="form-label" for="achievements_points">Points</label>
								<input type="number" name="achievements_points" id="achievements_points" class="form-control mb-1">
							</div>
							<div class="col-md-12 col-lg-2">
								<label class="form-label" for="achievements_storage">Storage</label>
								<div class="input-group mb-2">
									<span class="input-group-text">300000 +</span>
									<input type="text" class="form-control" name="achievements_storage" id="achievements_storage">
								</div>
							</div>
							<div class="col-md-12 col-lg-1">
								<label class="form-label" for="achievements_secret">Secret</label>
								<div class="form-check form-switch">
									<input type="checkbox" class="form-check-input" name="achievements_secret" id="achievements_secret" value="1">
								</div>
							</div>
							<div class="col-md-12 col-lg-12 mb-1">
								<label class="form-label" for="achievements_description">Description</label>
								<textarea name="achievements_description" id="achievements_description" rows="5" class="form-control"></textarea>
							</div>
							<div class="col-12">
								<button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Create Achievement</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		<div class="col-12 col-md-12 col-lg-12 col-sm-12">
		<div class="content-body">
			<section class="app-user-list">
				<div class="card">
					<div class="card-body border-bottom">
						<h4 class="card-title">Achievements</h4>
					</div>
					<div class="card-datatable table-responsive pt-0">
						<table class="players-list-table table">
							<thead class="table-light">
								<tr>
									<th>Name</th>
									<th>Grade</th>
									<th>Points</th>
									<th>Secret</th>
									<th>Storage</th>
									<th>Description</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for achievement in achievements %}
									<tr class="odd">
										<td>{{ achievement.name }}</td>
										<td>{{ achievement.grade }}</td>
										<td>{{ achievement.points }}</td>
										<td>{{ achievement.secret }}</td>
										<td>{{ achievement.storage }}</td>
										<td>{{ achievement.description }}</td>
										<td>
											<form action="{{URL}}/admin/achievements/delete" method="post" class="form form-vertical">
												<button type="submit" class="btn btn-icon btn-primary waves-effect waves-float waves-light">
													Delete
												</button>
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
		</div>
		</div>
	</div>
</div>
