<div id="RightArtwork">
	<a href="{{URL}}/library/creatures"><img id="Monster" title="Today's boosted creature: {{ boostedcreature.boostname }}" src="{{ boostedcreature.image_url }}" alt="Boosted Creature"></a>
    <a href="{{URL}}/library/boostablebosses"><img id="Boss" title="Today's boosted boss: {{ boostedboss.boostname }}" src="{{ boostedboss.image_url }}" alt="Boosted Boss"></a>
    <img id="Pedestal" src="{{IMAGE_PATH}}/global/header/pedestal.gif" alt="Monster Pedestal Box">
</div>