<div class="main-content Content">
	<div id="" class="Box">
		<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
		<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
		<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
		<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/newsheadline_background.gif); height: 28px;">
			<div class="InfoBar">
				<a class="NotOnMobile" href="{{URL}}/downloads">
				<img class="InfoBarBigLogo" src="{{IMAGE_PATH}}/global/header/info/icon-download.png">
				<span class="InfoBarNumbers"><span class="InfoBarSmallElement">Download</span>
				</span>
				</a>
				<a style="float:right;" href="{{URL}}/community/worlds"><img class="InfoBarBigLogo" src="{{IMAGE_PATH}}/global/header/info/icon-players-online.png"><span class="InfoBarNumbers">
						{% if playersonline == 0 %}
						<span class="InfoBarSmallElement">{{ server_status }}</span>
						{% else %}
							<span class="InfoBarSmallElement">{{ playersonline }} Players Online</span>
						{% endif %}
					</span>
				</a>
			</div>
		</div>
		<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
		<div class="CornerWrapper-b">
			<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
		</div>
		<div class="CornerWrapper-b">
			<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
		</div>
	</div>
</div>